OEE ft InfluxDB.json
[
    {
        "id": "4d1efcfcce5f1556",
        "type": "tab",
        "label": "OEE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "006156dbd350cdb1",
        "type": "group",
        "z": "4d1efcfcce5f1556",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a77deb6fd5282a3a",
            "1b1e098fd64f3073",
            "902d467bf889457e",
            "47b78cb27a7e2192",
            "d0f5e7df446eca8c",
            "d5ca6f98228ae123"
        ],
        "x": 1174,
        "y": 699,
        "w": 572,
        "h": 202
    },
    {
        "id": "a194111f96f65621",
        "type": "group",
        "z": "4d1efcfcce5f1556",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "78ec73ebed40e208",
            "f37868c9d03fa20f",
            "24399e5f1191f507",
            "537ccee267090c62",
            "ec946464ee6dd306",
            "7f692cac89049861",
            "761ddc07dfc514b5",
            "912a0c082e45a0d5",
            "adf8f07c677fae42",
            "7ae6bb72144eae48",
            "06a4b2066744e54e",
            "544a3d833c3b3a05",
            "b11dda4b450f16d6",
            "1d0559a14cb72759",
            "63b3dc676866076b",
            "84c72820bf8d6dd8",
            "dd4fe1d484658d6c",
            "dc06fc33f4b99dd8",
            "588f91d26d8657c1",
            "829f7fce2f88d115",
            "eb884ad0163257b9",
            "8b07e6ef3503b9a0",
            "93499de1e9f2bdb3"
        ],
        "x": 2474,
        "y": 99,
        "w": 752,
        "h": 1082
    },
    {
        "id": "b9f644b226ea815c",
        "type": "group",
        "z": "4d1efcfcce5f1556",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ceda711aabe6b988",
            "986864215eb31ca6",
            "9648ba53d1dd4fc5"
        ],
        "x": 2054,
        "y": 99,
        "w": 392,
        "h": 142
    },
    {
        "id": "5498e90d6b9c800d",
        "type": "group",
        "z": "4d1efcfcce5f1556",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c75125a9fb9f5219",
            "4f153cc68f46f251",
            "883d699387a02972",
            "739df10650eb8a9d",
            "c364fee2541bdf6b",
            "0d027a70af15d5e2",
            "b2957448d125f38c",
            "5cd9b5536a8dafc3",
            "94788906c9c00e1b",
            "22588e42194b4b90",
            "81da8dca7944ca12",
            "f76e1132607d3acd",
            "74c5fe12479faa87",
            "257a4c0dd97cbdaf",
            "32cd440b27a2557f",
            "c4b421759b60c3a9",
            "0975f730b54f8ad0",
            "6613ae4a5c4af3ee",
            "57a378567b64c186",
            "dafd005dbd50861e",
            "8f17bb5ceda597a0",
            "78f174f296c9bad0",
            "5125e09ea587bf7a"
        ],
        "x": 1174,
        "y": 99,
        "w": 852,
        "h": 582
    },
    {
        "id": "f85ff6fdf87c2da9",
        "type": "group",
        "z": "4d1efcfcce5f1556",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "97620048912c7de8",
            "55e53e227dd85ca3",
            "0b7d0b65d35434f8",
            "ae293937fdcca654",
            "3499894100fe33f9",
            "ecdf5c7b71ba73f8",
            "1b6ea60196c7e912",
            "2f65656a9af5723a",
            "00f78af632fa25b7"
        ],
        "x": 2054,
        "y": 259,
        "w": 392,
        "h": 402
    },
    {
        "id": "3abb0bb16fe54edb",
        "type": "group",
        "z": "4d1efcfcce5f1556",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6210a7248123ed1b",
            "39e753c2462dafc8",
            "e414ded71dd98e0b",
            "89bdb86f7d558994",
            "cc7cc7509ec90b46",
            "2b35d60a1049898b",
            "15979f4f034e0a33",
            "efe8134e37c04b51",
            "e2d94bf106e35c39",
            "a3a03fbee29f7907",
            "f8e95cc563feb1c8",
            "d03e780bc026734b",
            "9754ba73e930b18d",
            "939c43a6a9ddf711",
            "b766d114de5554d7",
            "e93bf6674d50c9c3",
            "f1c47b6eb750235a",
            "a11f3d5160eaf0ec",
            "b44226267a1bb935",
            "d2fca402448d413d",
            "fd80afd7ec03b129",
            "4aa99efb510ea33f",
            "695bb01813dbb20b",
            "098dbadc5f67e51b",
            "55ab436c6dd6bb68",
            "a48b74ab20bb7646",
            "18ef45170bbadaa0",
            "b30548ce13c9c692",
            "233fc2564b01e2fa",
            "f3f94562e0b0713e",
            "86084489840a2f53",
            "a147a10979e62877",
            "f9f0c7b0d3eacb64",
            "7daec895e32ad8a6",
            "9f5bfa0cf6c14092",
            "48b651274821c833",
            "d2b702129c2e6653",
            "9f92ec61b29afc97",
            "ce468b80682e2d89",
            "4ad6e2e9b58def5f",
            "766c226d9356fb7b",
            "04bf810cbfffb986"
        ],
        "x": 34,
        "y": 99,
        "w": 1112,
        "h": 1362
    },
    {
        "id": "02c4ddeaeb1fad54",
        "type": "group",
        "z": "4d1efcfcce5f1556",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "31875c507c1261c2",
            "b21135f9b318cf97",
            "37b43e2eddf43089",
            "c0640ef69527b1da",
            "04417168fcea69c9",
            "4fc2f53aa7ba2961",
            "47402463ace9fa8b"
        ],
        "x": 2474,
        "y": 1219,
        "w": 752,
        "h": 242
    },
    {
        "id": "ceda711aabe6b988",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "b9f644b226ea815c",
        "name": "",
        "func": "flow.set('PPT',(msg.payload.PPT*3600000) )\nflow.set('ICT',msg.payload.ICT*1000)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2360,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d5ca6f98228ae123",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "006156dbd350cdb1",
        "name": "Reset ",
        "info": "",
        "x": 1270,
        "y": 740,
        "wires": []
    },
    {
        "id": "78ec73ebed40e208",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "name": "Availability",
        "func": "var PPT = flow.get('PPT')\nvar total_downtime =flow.get('total_downtime')\nvar runtime = PPT - total_downtime\n\nvar available_percent = (runtime/PPT)*100;\nvar available = (runtime/PPT);\nflow.set('available',runtime/PPT)\n\nmsg.payload ={\n     available : available.toFixed(2),\n     available_percent : available_percent.toFixed(2)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2870,
        "y": 200,
        "wires": [
            [
                "24399e5f1191f507",
                "537ccee267090c62"
            ]
        ]
    },
    {
        "id": "f37868c9d03fa20f",
        "type": "inject",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "name": "",
        "props": [],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2570,
        "y": 200,
        "wires": [
            [
                "78ec73ebed40e208",
                "ec946464ee6dd306",
                "912a0c082e45a0d5",
                "06a4b2066744e54e",
                "1d0559a14cb72759"
            ]
        ]
    },
    {
        "id": "24399e5f1191f507",
        "type": "ui_text",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "group": "207519d2fb431967",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Availability",
        "format": "{{msg.payload.available}}",
        "layout": "row-spread",
        "className": "",
        "x": 3050,
        "y": 200,
        "wires": []
    },
    {
        "id": "537ccee267090c62",
        "type": "ui_gauge",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "name": "",
        "group": "207519d2fb431967",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Availability",
        "label": "%",
        "format": "{{msg.payload.available_percent}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dff00"
        ],
        "seg1": "",
        "seg2": "90",
        "className": "",
        "x": 3050,
        "y": 280,
        "wires": []
    },
    {
        "id": "ec946464ee6dd306",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "name": "Performance",
        "func": "var ICT = flow.get('ICT');\nvar TC = flow.get('total_count')\nvar RT = flow.get('PPT')-flow.get('total_downtime')\n\nvar performance = ((ICT*TC)/RT)*100\nflow.set('performance',(ICT*TC)/RT)\n\nmsg.payload = performance.toFixed(2)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2870,
        "y": 360,
        "wires": [
            [
                "7f692cac89049861",
                "829f7fce2f88d115"
            ]
        ]
    },
    {
        "id": "7f692cac89049861",
        "type": "ui_gauge",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "name": "",
        "group": "207519d2fb431967",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Performance",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dff00"
        ],
        "seg1": "60",
        "seg2": "95",
        "className": "",
        "x": 3050,
        "y": 440,
        "wires": []
    },
    {
        "id": "761ddc07dfc514b5",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "name": "OEE",
        "info": "",
        "x": 2570,
        "y": 140,
        "wires": []
    },
    {
        "id": "912a0c082e45a0d5",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "name": "Quality",
        "func": "var GC = flow.get('ok_part')\nvar TC = flow.get('total_count')\nvar quality = (GC/TC)*100\n\nflow.set('quality',GC/TC)\n\nmsg.payload = quality.toFixed(2)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2860,
        "y": 520,
        "wires": [
            [
                "adf8f07c677fae42",
                "7ae6bb72144eae48"
            ]
        ]
    },
    {
        "id": "adf8f07c677fae42",
        "type": "ui_text",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "group": "207519d2fb431967",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Quality",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3040,
        "y": 520,
        "wires": []
    },
    {
        "id": "7ae6bb72144eae48",
        "type": "ui_gauge",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "name": "",
        "group": "207519d2fb431967",
        "order": 8,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Quality",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dff00"
        ],
        "seg1": "60",
        "seg2": "99",
        "className": "",
        "x": 3040,
        "y": 600,
        "wires": []
    },
    {
        "id": "06a4b2066744e54e",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "name": "OEE",
        "func": "var a = flow.get('available')\nvar p = flow.get('performance')\nvar q = flow.get('quality')\nvar oee = a*p*q*100\n\nflow.set('oee',oee)\n\nmsg.payload = oee.toFixed(2)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2850,
        "y": 680,
        "wires": [
            [
                "544a3d833c3b3a05",
                "b11dda4b450f16d6"
            ]
        ]
    },
    {
        "id": "544a3d833c3b3a05",
        "type": "ui_text",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "group": "207519d2fb431967",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "OEE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3030,
        "y": 680,
        "wires": []
    },
    {
        "id": "b11dda4b450f16d6",
        "type": "ui_gauge",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "name": "",
        "group": "207519d2fb431967",
        "order": 7,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "OEE",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dff00"
        ],
        "seg1": "60",
        "seg2": "85",
        "className": "",
        "x": 3030,
        "y": 760,
        "wires": []
    },
    {
        "id": "1d0559a14cb72759",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "name": "Information",
        "func": "var p_id = 1000 + flow.get('total_count')\nvar total_count = flow.get('total_count')\nvar total_ok = flow.get('ok_part')\nvar total_ng = flow.get('ng_part')\nvar ICT = flow.get('ICT')\nvar PPT = flow.get('PPT')\nvar total_downtime = flow.get('total_downtime')\nvar runtime = flow.get('PPT') - flow.get('total_downtime')\n\nmsg.payload = {\n    p_id : p_id,\n    total_count:total_count,\n    total_ok:total_ok,\n    total_ng:total_ng,\n    PPT:PPT,\n    ICT:ICT,\n    total_downtime : total_downtime,\n    runtime:runtime\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2830,
        "y": 840,
        "wires": [
            [
                "84c72820bf8d6dd8",
                "63b3dc676866076b",
                "dd4fe1d484658d6c",
                "dc06fc33f4b99dd8",
                "588f91d26d8657c1",
                "eb884ad0163257b9",
                "93499de1e9f2bdb3",
                "8b07e6ef3503b9a0"
            ]
        ]
    },
    {
        "id": "63b3dc676866076b",
        "type": "ui_text",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "group": "d33022af62990bc5",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Total good",
        "format": "{{msg.payload.total_ok}}",
        "layout": "row-spread",
        "className": "",
        "x": 3050,
        "y": 940,
        "wires": []
    },
    {
        "id": "84c72820bf8d6dd8",
        "type": "ui_text",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "group": "d33022af62990bc5",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Total Count",
        "format": "{{msg.payload.total_count}}",
        "layout": "row-spread",
        "className": "",
        "x": 3050,
        "y": 900,
        "wires": []
    },
    {
        "id": "dd4fe1d484658d6c",
        "type": "ui_text",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "group": "d33022af62990bc5",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Total reject",
        "format": "{{msg.payload.total_ng}}",
        "layout": "row-spread",
        "className": "",
        "x": 3050,
        "y": 980,
        "wires": []
    },
    {
        "id": "dc06fc33f4b99dd8",
        "type": "ui_text",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "group": "d33022af62990bc5",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Planned Production Time ",
        "format": "{{msg.payload.PPT}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 3090,
        "y": 1100,
        "wires": []
    },
    {
        "id": "588f91d26d8657c1",
        "type": "ui_text",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "group": "d33022af62990bc5",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Ideal Cycle Time",
        "format": "{{msg.payload.ICT}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 3060,
        "y": 1140,
        "wires": []
    },
    {
        "id": "829f7fce2f88d115",
        "type": "ui_text",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "group": "207519d2fb431967",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Performance",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3050,
        "y": 360,
        "wires": []
    },
    {
        "id": "986864215eb31ca6",
        "type": "ui_form",
        "z": "4d1efcfcce5f1556",
        "g": "b9f644b226ea815c",
        "name": "user_input",
        "label": "",
        "group": "d33022af62990bc5",
        "order": 11,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "Planned Production Time (Hour)",
                "value": "PPT",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Ideal Cycle Time (second)",
                "value": "ICT",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "PPT": "",
            "ICT": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 2150,
        "y": 200,
        "wires": [
            [
                "ceda711aabe6b988"
            ]
        ]
    },
    {
        "id": "c75125a9fb9f5219",
        "type": "switch",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "",
        "property": "payload.signal",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sensor1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Reject",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "E_Stop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TL_Yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TL_Green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 1430,
        "y": 400,
        "wires": [
            [
                "94788906c9c00e1b"
            ],
            [
                "5cd9b5536a8dafc3"
            ],
            [
                "b2957448d125f38c"
            ],
            [
                "739df10650eb8a9d"
            ],
            [
                "81da8dca7944ca12"
            ],
            [
                "f76e1132607d3acd"
            ],
            [
                "22588e42194b4b90"
            ],
            [
                "74c5fe12479faa87"
            ]
        ]
    },
    {
        "id": "4f153cc68f46f251",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "Sensor 1_on(ts)",
        "func": "var s1_on = msg.payload.onoff;\n\nif(s1_on==1){\n    flow.set(\"s1_on\",1);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1900,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "883d699387a02972",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "Sensor 2_on(ts)",
        "func": "var s2_on = msg.payload.onoff\n\n\nif(s2_on==1){\n    flow.set(\"s2_on\",1);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1900,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "739df10650eb8a9d",
        "type": "switch",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "Sensor 3",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1660,
        "y": 260,
        "wires": [
            [
                "0d027a70af15d5e2"
            ]
        ]
    },
    {
        "id": "c364fee2541bdf6b",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "Inductive Sensor_on(ts)",
        "func": "\nvar is_on = msg.payload.onoff\n\n\nif(is_on==1){\n    flow.set(\"is_on\",1);\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0d027a70af15d5e2",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "Sensor 3_on(ts)",
        "func": "var di = msg.payload.onoff; //int\nvar machine = msg.payload.MachineID; //string\nvar signal = msg.payload.signal;//string\nvar datetime = msg.payload.date; // string\nvar ts= msg.payload.timestamp;//int\nvar s3_on = msg.payload.onoff\n\n//retrive counted part---------------------------\nvar cylcle_time;\nvar total_cycle_time;\nvar total_count=flow.get(\"total_count\");\nvar ok_part=flow.get(\"ok_part\");\nvar ng_part=flow.get(\"ng_part\");\n\n\n//retrive timestamp start & sensor 3-----------\nvar motor1_ts = flow.get(\"motor1_ts\");\nvar s3_ts = msg.payload.timestamp;\n\n//retrive sensor signal-----------------------------\nvar s1_on = flow.get(\"s1_on\");\nvar s2_on = flow.get(\"s2_on\");\nvar is_on = flow.get(\"is_on\");\n\n\n\n// Calculate Cycle time ------------------------------    \ncycle_time = s3_ts - motor1_ts;\ncycle_time= cycle_time/1000;        // change milisecond to second\ncycle_time= cycle_time.toFixed(2);  //change to 2 decimal (string)\ncycle_time= parseFloat(cycle_time)\n\ntotal_cycle_time = flow.get(\"total_cycle_time\") + cycle_time;\nflow.set(\"total_cycle_time\",total_cycle_time);  \n\n// Count Total part---------------------------------\nif(s1_on==1 && s3_on==1){\n    total_count++;\n    flow.set(\"total_count\",total_count);\n}\n\n//count ok part-----------------------------------------\nif(s2_on==1 && is_on==0 && s3_on==1){\n    ok_part++\n    flow.set(\"ok_part\",ok_part);\n}\n\n//count ng part-----------------------------------------\nif(s2_on==1 && is_on==1 && s3_on==1){\n    ng_part++\n    flow.set(\"ng_part\",ng_part);\n}\n\n\n\n\n// RESET SENSOR----------------------------------------\nif (s3_on==1){\nflow.set(\"is_on\",0);\nflow.set(\"s1_on\",0);\nflow.set(\"s2_on\",0);\nflow.set(\"s3_on\",0);\n}\n\n\nmsg.payload={\n    s1_on:s1_on,\n    s2_on:s2_on,\n    s3_on:s3_on,\n \n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1900,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b2957448d125f38c",
        "type": "switch",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "Reject",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1650,
        "y": 220,
        "wires": [
            [
                "c364fee2541bdf6b"
            ]
        ]
    },
    {
        "id": "5cd9b5536a8dafc3",
        "type": "switch",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "Sensor 2",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1660,
        "y": 180,
        "wires": [
            [
                "883d699387a02972"
            ]
        ]
    },
    {
        "id": "94788906c9c00e1b",
        "type": "switch",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "Sensor 1",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1660,
        "y": 140,
        "wires": [
            [
                "4f153cc68f46f251"
            ]
        ]
    },
    {
        "id": "22588e42194b4b90",
        "type": "switch",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "TL_Green",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1660,
        "y": 540,
        "wires": [
            [
                "257a4c0dd97cbdaf"
            ],
            [
                "8f17bb5ceda597a0"
            ]
        ]
    },
    {
        "id": "81da8dca7944ca12",
        "type": "switch",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "E_Stop",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1660,
        "y": 360,
        "wires": [
            [
                "0975f730b54f8ad0"
            ],
            [
                "6613ae4a5c4af3ee"
            ]
        ]
    },
    {
        "id": "f76e1132607d3acd",
        "type": "switch",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "TL_Yellow",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1670,
        "y": 460,
        "wires": [
            [
                "32cd440b27a2557f"
            ],
            [
                "78f174f296c9bad0"
            ]
        ]
    },
    {
        "id": "74c5fe12479faa87",
        "type": "switch",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "Motor1",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1660,
        "y": 620,
        "wires": [
            [
                "c4b421759b60c3a9"
            ],
            [
                "5125e09ea587bf7a"
            ]
        ]
    },
    {
        "id": "257a4c0dd97cbdaf",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "green_TL = 1",
        "func": "var TL_Green = msg.payload.onoff;\n\nif(TL_Green==1){\n    TL_Green = 1;\n    flow.set(\"TL_Green\",1);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 520,
        "wires": [
            [
                "0b7d0b65d35434f8"
            ]
        ]
    },
    {
        "id": "32cd440b27a2557f",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "yellow_TL = 1",
        "func": "var TL_Yellow = msg.payload.onoff; \n\nif(TL_Yellow==1){\n    TL_Yellow = 1;\n    flow.set(\"TL_Yellow\",1);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 440,
        "wires": [
            [
                "3499894100fe33f9"
            ]
        ]
    },
    {
        "id": "c4b421759b60c3a9",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "motor1(ts)",
        "func": "var motor1 = msg.payload.onoff\n\nif(motor1==1){\n    flow.set(\"motor1\",1);\n \n    \n}\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 600,
        "wires": [
            [
                "1b6ea60196c7e912"
            ]
        ]
    },
    {
        "id": "0975f730b54f8ad0",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "E-stop_on(ts)",
        "func": "var downtime= \"ongoing\";\nvar count= flow.get(\"E-stop_on\");\n\nif(count==undefined){       //set initial value\n    count=0;\n}\n\nflow.set(\"E-stop_onoff\",msg.payload.onoff); // add counter value\nflow.set(\"es_on\",msg.payload.timestamp); //save Em.Stop_On time\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1900,
        "y": 340,
        "wires": [
            [
                "55e53e227dd85ca3"
            ]
        ]
    },
    {
        "id": "6613ae4a5c4af3ee",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "E-stop_off(ts)",
        "func": "var es_off = msg.payload.timestamp;\nvar es_on = flow.get(\"es_on\");\nvar downtime = \"stoped\";\nvar duration;\nvar total_downtime = flow.get(\"total_downtime\");\nvar runtime;\n\nif(total_downtime==undefined){\n    total_downtime=0;               //set initial value\n}\n\nduration= es_off - es_on;\ntotal_downtime = total_downtime+duration;\nflow.set(\"total_downtime\",total_downtime)\nflow.set(\"E-stop_onoff\",msg.payload.onoff);\n\nruntime = flow.get(\"PPT\")-total_downtime;\n\n//duration= duration/1000; // change milisecond to second\n//duration= duration.toFixed(2); //change to 2 decimal (string)\n//duration= parseFloat(duration);// change string to float\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1900,
        "y": 380,
        "wires": [
            [
                "55e53e227dd85ca3"
            ]
        ]
    },
    {
        "id": "57a378567b64c186",
        "type": "mqtt in",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "",
        "topic": "005_kit",
        "qos": "0",
        "datatype": "json",
        "broker": "5e17b817fab3699f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1250,
        "y": 400,
        "wires": [
            [
                "c75125a9fb9f5219"
            ]
        ]
    },
    {
        "id": "9648ba53d1dd4fc5",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "b9f644b226ea815c",
        "name": "Key-In Value",
        "info": "",
        "x": 2150,
        "y": 140,
        "wires": []
    },
    {
        "id": "a77deb6fd5282a3a",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "006156dbd350cdb1",
        "name": "flow.set(\"flow\",0);",
        "func": "flow.set(\"p_id\",undefined);\nflow.set(\"ok_part\",msg.payload);\nflow.set(\"ng_part\",msg.payload);\nflow.set(\"cycle_time\",msg.payload);\nflow.set(\"total_cycle_time\",msg.payload);  \nflow.set('total_count',msg.payload);\nflow.set(\"motor1\",msg.payload);\nflow.set(\"TL_Yellow\",msg.payload);\nflow.set(\"TL_Green\",msg.payload);\n\nflow.set('total_downtime',msg.payload);\n\nflow.set('available',msg.payload);\nflow.set('performance',msg.payload);\nflow.set('quality',msg.payload);\nflow.set('oee',msg.payload);\n\nflow.set('PPT',msg.payload);\nflow.set('ICT',msg.payload);\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "1b1e098fd64f3073",
        "type": "inject",
        "z": "4d1efcfcce5f1556",
        "g": "006156dbd350cdb1",
        "name": "Reset Counter",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1290,
        "y": 800,
        "wires": [
            [
                "d0f5e7df446eca8c"
            ]
        ]
    },
    {
        "id": "902d467bf889457e",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "006156dbd350cdb1",
        "name": "flow.set(\"flow\",0);",
        "func": "flow.set(\"is_on\",msg.payload);\nflow.set(\"s1_on\",msg.payload);\nflow.set(\"s2_on\",msg.payload);\nflow.set(\"s3_on\",msg.payload);\nflow.set(\"tower_light\",msg.payload);\nflow.set(\"start_ts\",msg.payload);\nflow.set(\"s1_ts\",msg.payload);\nflow.set(\"E-stop_on\",msg.payload);\nflow.set(\"motor1\",msg.payload);\nflow.set(\"TL_Yellow\",msg.payload);\nflow.set(\"TL_Green\",msg.payload);\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "47b78cb27a7e2192",
        "type": "inject",
        "z": "4d1efcfcce5f1556",
        "g": "006156dbd350cdb1",
        "name": "Reset Sensor",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1290,
        "y": 860,
        "wires": [
            [
                "902d467bf889457e"
            ]
        ]
    },
    {
        "id": "d0f5e7df446eca8c",
        "type": "ui_button",
        "z": "4d1efcfcce5f1556",
        "g": "006156dbd350cdb1",
        "name": "",
        "group": "d33022af62990bc5",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "replay",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1450,
        "y": 800,
        "wires": [
            [
                "a77deb6fd5282a3a"
            ]
        ]
    },
    {
        "id": "97620048912c7de8",
        "type": "ui_led",
        "z": "4d1efcfcce5f1556",
        "g": "f85ff6fdf87c2da9",
        "order": 1,
        "group": "d34168038c3e8e8f",
        "width": 8,
        "height": 2,
        "label": "Emergency Stop",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Emergency Stop",
        "x": 2330,
        "y": 360,
        "wires": []
    },
    {
        "id": "55e53e227dd85ca3",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "f85ff6fdf87c2da9",
        "name": "",
        "func": "msg.payload=flow.get('E-stop_onoff');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 360,
        "wires": [
            [
                "97620048912c7de8"
            ]
        ]
    },
    {
        "id": "dafd005dbd50861e",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "Signal Processing",
        "info": "",
        "x": 1290,
        "y": 140,
        "wires": []
    },
    {
        "id": "0b7d0b65d35434f8",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "f85ff6fdf87c2da9",
        "name": "",
        "func": "msg.payload=flow.get('TL_Green');\n\nvar s1_on = msg.payload.s1_on; //int\nvar s2_on = msg.payload.s2_on; //string\nvar s3_on = msg.payload.s3_on;//string\nvar es_on = msg.payload.es_on;//string\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 540,
        "wires": [
            [
                "ae293937fdcca654"
            ]
        ]
    },
    {
        "id": "ae293937fdcca654",
        "type": "ui_led",
        "z": "4d1efcfcce5f1556",
        "g": "f85ff6fdf87c2da9",
        "order": 3,
        "group": "d34168038c3e8e8f",
        "width": 8,
        "height": 2,
        "label": "TL_Green",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "TL_Green",
        "x": 2360,
        "y": 540,
        "wires": []
    },
    {
        "id": "3499894100fe33f9",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "f85ff6fdf87c2da9",
        "name": "",
        "func": "msg.payload=flow.get('TL_Yellow');\n\nvar s1_on = msg.payload.s1_on; //int\nvar s2_on = msg.payload.s2_on; //string\nvar s3_on = msg.payload.s3_on;//string\nvar es_on = msg.payload.es_on;//string\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 460,
        "wires": [
            [
                "ecdf5c7b71ba73f8"
            ]
        ]
    },
    {
        "id": "ecdf5c7b71ba73f8",
        "type": "ui_led",
        "z": "4d1efcfcce5f1556",
        "g": "f85ff6fdf87c2da9",
        "order": 2,
        "group": "d34168038c3e8e8f",
        "width": 8,
        "height": 2,
        "label": "TL_Yellow",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "TL_Yellow",
        "x": 2350,
        "y": 460,
        "wires": []
    },
    {
        "id": "1b6ea60196c7e912",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "f85ff6fdf87c2da9",
        "name": "",
        "func": "msg.payload = flow.get('motor1');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 620,
        "wires": [
            [
                "2f65656a9af5723a"
            ]
        ]
    },
    {
        "id": "eb884ad0163257b9",
        "type": "ui_text",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "group": "d33022af62990bc5",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Runtime",
        "format": "{{msg.payload.runtime}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 3040,
        "y": 1060,
        "wires": []
    },
    {
        "id": "8f17bb5ceda597a0",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "green_TL = 0",
        "func": "var TL_Green = msg.payload.onoff;\n\nif(TL_Green==0){\n    TL_Green = 0;\n    flow.set(\"TL_Green\",0);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 560,
        "wires": [
            [
                "0b7d0b65d35434f8"
            ]
        ]
    },
    {
        "id": "78f174f296c9bad0",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "yellow_TL = 0",
        "func": "var TL_Yellow = msg.payload.onoff; \n\nif(TL_Yellow==0){\n    TL_Yellow = 0;\n    flow.set(\"TL_Yellow\",0);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 480,
        "wires": [
            [
                "3499894100fe33f9"
            ]
        ]
    },
    {
        "id": "8b07e6ef3503b9a0",
        "type": "ui_text",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "group": "d33022af62990bc5",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Total Downtime",
        "label": "Total Downtime ",
        "format": "{{msg.payload.total_downtime}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 3060,
        "y": 1020,
        "wires": []
    },
    {
        "id": "93499de1e9f2bdb3",
        "type": "ui_text",
        "z": "4d1efcfcce5f1556",
        "g": "a194111f96f65621",
        "group": "d33022af62990bc5",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "Product ID",
        "label": "Current Product ID",
        "format": "# {{msg.payload.p_id}} ",
        "layout": "row-spread",
        "className": "",
        "x": 3050,
        "y": 860,
        "wires": []
    },
    {
        "id": "6210a7248123ed1b",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Emergency Button",
        "info": "",
        "x": 150,
        "y": 780,
        "wires": []
    },
    {
        "id": "39e753c2462dafc8",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Green Tower Light",
        "info": "",
        "x": 150,
        "y": 1140,
        "wires": []
    },
    {
        "id": "e414ded71dd98e0b",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Yellow Tower Light",
        "info": "",
        "x": 150,
        "y": 960,
        "wires": []
    },
    {
        "id": "89bdb86f7d558994",
        "type": "s7 in",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Emergency Stop (HW:= NC),,,,",
        "diff": true,
        "name": "",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "233fc2564b01e2fa"
            ]
        ]
    },
    {
        "id": "cc7cc7509ec90b46",
        "type": "s7 in",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Green Tower Light,,,,",
        "diff": true,
        "name": "",
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "18ef45170bbadaa0"
            ]
        ]
    },
    {
        "id": "2b35d60a1049898b",
        "type": "s7 in",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Yellow Tower Light,,,,",
        "diff": true,
        "name": "",
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "b30548ce13c9c692"
            ]
        ]
    },
    {
        "id": "15979f4f034e0a33",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "S1",
        "info": "",
        "x": 110,
        "y": 140,
        "wires": []
    },
    {
        "id": "efe8134e37c04b51",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "S2",
        "info": "",
        "x": 110,
        "y": 300,
        "wires": []
    },
    {
        "id": "e2d94bf106e35c39",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "S3",
        "info": "",
        "x": 110,
        "y": 620,
        "wires": []
    },
    {
        "id": "a3a03fbee29f7907",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "SInductive",
        "info": "",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "f8e95cc563feb1c8",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"Sensor1\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 220,
        "wires": [
            [
                "d03e780bc026734b"
            ]
        ]
    },
    {
        "id": "d03e780bc026734b",
        "type": "mqtt out",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "topic": "005_kit",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5e17b817fab3699f",
        "x": 1060,
        "y": 700,
        "wires": []
    },
    {
        "id": "9754ba73e930b18d",
        "type": "s7 in",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Position Sensor 3 (HW:= Photoelectric),,,,",
        "diff": true,
        "name": "",
        "x": 220,
        "y": 700,
        "wires": [
            [
                "a48b74ab20bb7646"
            ]
        ]
    },
    {
        "id": "939c43a6a9ddf711",
        "type": "s7 in",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Position Sensor 2 (HW:= Photoelectric),,,,",
        "diff": true,
        "name": "",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "098dbadc5f67e51b"
            ]
        ]
    },
    {
        "id": "b766d114de5554d7",
        "type": "s7 in",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Part Reject Sensor (HW:= Inductive),,,,",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "55ab436c6dd6bb68"
            ]
        ]
    },
    {
        "id": "e93bf6674d50c9c3",
        "type": "s7 in",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Position Sensor 1 (HW:= Photoelectric),,,,",
        "diff": true,
        "name": "",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "695bb01813dbb20b"
            ]
        ]
    },
    {
        "id": "f1c47b6eb750235a",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"Sensor2\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 380,
        "wires": [
            [
                "d03e780bc026734b"
            ]
        ]
    },
    {
        "id": "a11f3d5160eaf0ec",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"Reject\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 540,
        "wires": [
            [
                "d03e780bc026734b"
            ]
        ]
    },
    {
        "id": "b44226267a1bb935",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"Sensor3\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 700,
        "wires": [
            [
                "d03e780bc026734b"
            ]
        ]
    },
    {
        "id": "d2fca402448d413d",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"E_Stop\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 860,
        "wires": [
            [
                "d03e780bc026734b"
            ]
        ]
    },
    {
        "id": "fd80afd7ec03b129",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"TL_Green\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1220,
        "wires": [
            [
                "d03e780bc026734b"
            ]
        ]
    },
    {
        "id": "4aa99efb510ea33f",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"TL_Yellow\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1040,
        "wires": [
            [
                "d03e780bc026734b"
            ]
        ]
    },
    {
        "id": "695bb01813dbb20b",
        "type": "change",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "f8e95cc563feb1c8"
            ]
        ]
    },
    {
        "id": "098dbadc5f67e51b",
        "type": "change",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 380,
        "wires": [
            [
                "f1c47b6eb750235a"
            ]
        ]
    },
    {
        "id": "55ab436c6dd6bb68",
        "type": "change",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 540,
        "wires": [
            [
                "a11f3d5160eaf0ec"
            ]
        ]
    },
    {
        "id": "a48b74ab20bb7646",
        "type": "change",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 700,
        "wires": [
            [
                "b44226267a1bb935"
            ]
        ]
    },
    {
        "id": "18ef45170bbadaa0",
        "type": "change",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1220,
        "wires": [
            [
                "fd80afd7ec03b129"
            ]
        ]
    },
    {
        "id": "b30548ce13c9c692",
        "type": "change",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1040,
        "wires": [
            [
                "4aa99efb510ea33f"
            ]
        ]
    },
    {
        "id": "233fc2564b01e2fa",
        "type": "change",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 860,
        "wires": [
            [
                "d2fca402448d413d"
            ]
        ]
    },
    {
        "id": "f3f94562e0b0713e",
        "type": "s7 in",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Output 1 ( Motor Operation),,,,",
        "diff": true,
        "name": "",
        "x": 180,
        "y": 1380,
        "wires": [
            [
                "86084489840a2f53"
            ]
        ]
    },
    {
        "id": "86084489840a2f53",
        "type": "change",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1380,
        "wires": [
            [
                "a147a10979e62877"
            ]
        ]
    },
    {
        "id": "a147a10979e62877",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"Motor1\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1380,
        "wires": [
            [
                "d03e780bc026734b"
            ]
        ]
    },
    {
        "id": "f9f0c7b0d3eacb64",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Motor 1",
        "info": "",
        "x": 110,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7daec895e32ad8a6",
        "type": "ui_button",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "group": "5d4e633647a620f5",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "S1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "695bb01813dbb20b"
            ]
        ]
    },
    {
        "id": "9f5bfa0cf6c14092",
        "type": "ui_button",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "group": "5d4e633647a620f5",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "S2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "098dbadc5f67e51b"
            ]
        ]
    },
    {
        "id": "48b651274821c833",
        "type": "ui_button",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "group": "5d4e633647a620f5",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "IS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 580,
        "wires": [
            [
                "55ab436c6dd6bb68"
            ]
        ]
    },
    {
        "id": "d2b702129c2e6653",
        "type": "ui_button",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "",
        "group": "5d4e633647a620f5",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "S3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 740,
        "wires": [
            [
                "a48b74ab20bb7646"
            ]
        ]
    },
    {
        "id": "9f92ec61b29afc97",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Signals",
        "info": "",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "ce468b80682e2d89",
        "type": "ui_switch",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Emrgency Stop Switch",
        "label": "Emrgency Stop",
        "tooltip": "",
        "group": "5d4e633647a620f5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 900,
        "wires": [
            [
                "233fc2564b01e2fa"
            ]
        ]
    },
    {
        "id": "4ad6e2e9b58def5f",
        "type": "ui_switch",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Green TL",
        "label": "Green TL",
        "tooltip": "",
        "group": "5d4e633647a620f5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 1260,
        "wires": [
            [
                "18ef45170bbadaa0"
            ]
        ]
    },
    {
        "id": "766c226d9356fb7b",
        "type": "ui_switch",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Yellow TL",
        "label": "Yellow TL",
        "tooltip": "",
        "group": "5d4e633647a620f5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 1080,
        "wires": [
            [
                "b30548ce13c9c692"
            ]
        ]
    },
    {
        "id": "04bf810cbfffb986",
        "type": "ui_switch",
        "z": "4d1efcfcce5f1556",
        "g": "3abb0bb16fe54edb",
        "name": "Motor1",
        "label": "Motor 1",
        "tooltip": "",
        "group": "5d4e633647a620f5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 1420,
        "wires": [
            [
                "86084489840a2f53"
            ]
        ]
    },
    {
        "id": "5125e09ea587bf7a",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "5498e90d6b9c800d",
        "name": "motor1(ts)",
        "func": "var motor1 = msg.payload.onoff\n\nif(motor1==0){\n    flow.set(\"motor1\",0);\n  \n    \n}\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 640,
        "wires": [
            [
                "1b6ea60196c7e912"
            ]
        ]
    },
    {
        "id": "2f65656a9af5723a",
        "type": "ui_led",
        "z": "4d1efcfcce5f1556",
        "g": "f85ff6fdf87c2da9",
        "order": 4,
        "group": "d34168038c3e8e8f",
        "width": 8,
        "height": 2,
        "label": "Motor 1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#7b7bf9",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Motor 1",
        "x": 2340,
        "y": 620,
        "wires": []
    },
    {
        "id": "31875c507c1261c2",
        "type": "function",
        "z": "4d1efcfcce5f1556",
        "g": "02c4ddeaeb1fad54",
        "name": "all_events_ridhuan",
        "func": "\n\nmsg.payload=[{measurement:\"oee_rid\",\n                fields:{\n                    available:flow.get('available'),\n                    performance:flow.get('performance'),\n                    quality:flow.get('quality'),\n                    oee:flow.get('oee')\n                    \n                    \n                },\n                tags:{\n                    \n                    \n                },\n                \n    \n}\n    \n    ]\n    \n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2750,
        "y": 1320,
        "wires": [
            [
                "b21135f9b318cf97"
            ]
        ]
    },
    {
        "id": "b21135f9b318cf97",
        "type": "influxdb batch",
        "z": "4d1efcfcce5f1556",
        "g": "02c4ddeaeb1fad54",
        "influxdb": "c0be221787a8fcdb",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 3080,
        "y": 1320,
        "wires": []
    },
    {
        "id": "37b43e2eddf43089",
        "type": "inject",
        "z": "4d1efcfcce5f1556",
        "g": "02c4ddeaeb1fad54",
        "name": "",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2570,
        "y": 1320,
        "wires": [
            [
                "31875c507c1261c2"
            ]
        ]
    },
    {
        "id": "c0640ef69527b1da",
        "type": "inject",
        "z": "4d1efcfcce5f1556",
        "g": "02c4ddeaeb1fad54",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2570,
        "y": 1420,
        "wires": [
            [
                "4fc2f53aa7ba2961"
            ]
        ]
    },
    {
        "id": "04417168fcea69c9",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "02c4ddeaeb1fad54",
        "name": "DELETE MEASUREMENT",
        "info": "",
        "x": 2610,
        "y": 1380,
        "wires": []
    },
    {
        "id": "4fc2f53aa7ba2961",
        "type": "influxdb in",
        "z": "4d1efcfcce5f1556",
        "g": "02c4ddeaeb1fad54",
        "influxdb": "c0be221787a8fcdb",
        "name": "all_events_ridhuan",
        "query": "DELETE FROM oee_rid",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 3110,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "47402463ace9fa8b",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "02c4ddeaeb1fad54",
        "name": "INSERT MEASUREMENT",
        "info": "",
        "x": 2610,
        "y": 1260,
        "wires": []
    },
    {
        "id": "00f78af632fa25b7",
        "type": "comment",
        "z": "4d1efcfcce5f1556",
        "g": "f85ff6fdf87c2da9",
        "name": "Input Monitoring",
        "info": "",
        "x": 2160,
        "y": 300,
        "wires": []
    },
    {
        "id": "0117fb7eb7ba2392",
        "type": "s7 out",
        "z": "4d1efcfcce5f1556",
        "endpoint": "a2e083367df66ec7",
        "variable": "Reset",
        "name": "Reset Kit",
        "x": 790,
        "y": 2180,
        "wires": []
    },
    {
        "id": "621a7bbf3f0c3214",
        "type": "s7 out",
        "z": "4d1efcfcce5f1556",
        "endpoint": "a2e083367df66ec7",
        "variable": " Start (HW:= NO / PB Green),,,,",
        "name": "Start Kit",
        "x": 790,
        "y": 2240,
        "wires": []
    },
    {
        "id": "60b2e214c2d06aa9",
        "type": "s7 out",
        "z": "4d1efcfcce5f1556",
        "endpoint": "a2e083367df66ec7",
        "variable": "Stop",
        "name": "Stop Kit",
        "x": 790,
        "y": 2300,
        "wires": []
    },
    {
        "id": "6d4ec08f2cdab8b7",
        "type": "ui_button",
        "z": "4d1efcfcce5f1556",
        "name": "Reset Kit",
        "group": "5d4e633647a620f5",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Kit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 2180,
        "wires": [
            [
                "e6fad4402de857dd"
            ]
        ]
    },
    {
        "id": "36698457a8072025",
        "type": "ui_button",
        "z": "4d1efcfcce5f1556",
        "name": "Start Kit",
        "group": "5d4e633647a620f5",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Kit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 2240,
        "wires": [
            [
                "07a3d4ab9ad4205e"
            ]
        ]
    },
    {
        "id": "b318efadde8385d9",
        "type": "ui_button",
        "z": "4d1efcfcce5f1556",
        "name": "Stop Kit",
        "group": "5d4e633647a620f5",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Kit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 2300,
        "wires": [
            [
                "f4ca63832150a04d"
            ]
        ]
    },
    {
        "id": "8f192c84d16b852a",
        "type": "inject",
        "z": "4d1efcfcce5f1556",
        "name": "Reset Kit",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 2180,
        "wires": [
            [
                "6d4ec08f2cdab8b7"
            ]
        ]
    },
    {
        "id": "fef95c38da234a27",
        "type": "inject",
        "z": "4d1efcfcce5f1556",
        "name": "Start Kit",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 2240,
        "wires": [
            [
                "36698457a8072025"
            ]
        ]
    },
    {
        "id": "561723838e51ab0e",
        "type": "inject",
        "z": "4d1efcfcce5f1556",
        "name": "Stop Kit",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 120,
        "y": 2300,
        "wires": [
            [
                "b318efadde8385d9"
            ]
        ]
    },
    {
        "id": "e6fad4402de857dd",
        "type": "trigger",
        "z": "4d1efcfcce5f1556",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "num",
        "op2type": "num",
        "duration": "1.5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 2180,
        "wires": [
            [
                "0117fb7eb7ba2392"
            ]
        ]
    },
    {
        "id": "07a3d4ab9ad4205e",
        "type": "trigger",
        "z": "4d1efcfcce5f1556",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "num",
        "op2type": "num",
        "duration": "1.5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 2240,
        "wires": [
            [
                "621a7bbf3f0c3214"
            ]
        ]
    },
    {
        "id": "f4ca63832150a04d",
        "type": "trigger",
        "z": "4d1efcfcce5f1556",
        "name": "",
        "op1": "false",
        "op2": "true",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 550,
        "y": 2300,
        "wires": [
            [
                "60b2e214c2d06aa9"
            ]
        ]
    },
    {
        "id": "207519d2fb431967",
        "type": "ui_group",
        "name": "OEE",
        "tab": "94549c2c823847b3",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d33022af62990bc5",
        "type": "ui_group",
        "name": "Information",
        "tab": "94549c2c823847b3",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e17b817fab3699f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d34168038c3e8e8f",
        "type": "ui_group",
        "name": "Input Monitor",
        "tab": "94549c2c823847b3",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2e083367df66ec7",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.4.34",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "100",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "I0.2",
                "name": " Start (HW:= NO / PB Green),,,,"
            },
            {
                "addr": "I0.5",
                "name": " Position Sensor 1 (HW:= Photoelectric),,,,"
            },
            {
                "addr": "I0.6",
                "name": " Position Sensor 2 (HW:= Photoelectric),,,,"
            },
            {
                "addr": "I0.7",
                "name": " Position Sensor 3 (HW:= Photoelectric),,,,"
            },
            {
                "addr": "I1.0",
                "name": " Part Reject Sensor (HW:= Inductive),,,,"
            },
            {
                "addr": "I1.1",
                "name": " Emergency Stop (HW:= NC),,,,"
            },
            {
                "addr": "Q0.0",
                "name": " Red LED,,,,"
            },
            {
                "addr": "Q0.1",
                "name": " Yellow LED,,,,"
            },
            {
                "addr": "Q0.2",
                "name": " Green LED,,,,"
            },
            {
                "addr": "Q0.3",
                "name": " Output 1 ( Motor Operation),,,,"
            },
            {
                "addr": "Q0.5",
                "name": " Output 3 ( Motor Speed),,,,"
            },
            {
                "addr": "Q0.6",
                "name": " Green Tower Light,,,,"
            },
            {
                "addr": "Q0.7",
                "name": " Yellow Tower Light,,,,"
            },
            {
                "addr": "Q1.0",
                "name": " Red Tower Light,,,,"
            },
            {
                "addr": "M50.4",
                "name": "Memory start"
            },
            {
                "addr": "I0.3",
                "name": "Reset"
            },
            {
                "addr": "I0.1",
                "name": "Stop"
            }
        ]
    },
    {
        "id": "5d4e633647a620f5",
        "type": "ui_group",
        "name": "Input Sim",
        "tab": "94549c2c823847b3",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c0be221787a8fcdb",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "mldvrid",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "94549c2c823847b3",
        "type": "ui_tab",
        "name": "OEE CALCULATOR",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]