OEE_Towerlight_TimeTrigger.json
[
    {
        "id": "d4f7b60da20c4f7e",
        "type": "tab",
        "label": "OEE TL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b2fb964e962c708",
        "type": "group",
        "z": "d4f7b60da20c4f7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f6c382e7cfc97059",
            "4e2f30a3b5e0697c",
            "c3f082c4d7ee850d",
            "c7073dbfa27800eb",
            "f1dfa094ffa5608a",
            "c763b9512cfa1a35",
            "5308e043753a2934",
            "1be725a2c2a1f888",
            "d3902425a5297af4",
            "3a8cd9465f493823",
            "625be556465993d0",
            "f1189149dd4f58f5"
        ],
        "x": 1174,
        "y": 99,
        "w": 852,
        "h": 442
    },
    {
        "id": "fe1b39a6600cb340",
        "type": "group",
        "z": "d4f7b60da20c4f7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b39f8eba337af760",
            "e6cf8455be81fdd5",
            "b8f76ac4e07db999",
            "d41fbc64f9e21811",
            "4884309fead2c4eb",
            "eec6d9bd625f1dd2"
        ],
        "x": 1174,
        "y": 599,
        "w": 612,
        "h": 202
    },
    {
        "id": "d638b29ce563a84d",
        "type": "group",
        "z": "d4f7b60da20c4f7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "82406446724d2323",
            "ed1feac79bca8181",
            "ba02de869d9be47f"
        ],
        "x": 1823.9999389648438,
        "y": 602.3333415985107,
        "w": 362.00006103515625,
        "h": 178.66665840148926
    },
    {
        "id": "e51c0cdc216f31c2",
        "type": "group",
        "z": "d4f7b60da20c4f7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "536d6533eb35c9c4",
            "5cd360301e99697d",
            "0ffd3abcf32dbc5c",
            "fc204fb7858d11e5",
            "129cfcc2b45cc73c",
            "af8ae64eb4cbd8b1",
            "5d9a6ca8045cd657",
            "f17739bdc8e040a3",
            "3a9bc46f69305c28",
            "561070b52ffbf55b",
            "c2e1b4740f375f95",
            "af7e37f84a4aa045",
            "99214768df90183e",
            "31eef8b507f48ceb",
            "0d384172c128e41a",
            "71d508ac9a1d1f42",
            "8b61e21d91e6cd41"
        ],
        "x": 54,
        "y": 99,
        "w": 1092,
        "h": 762
    },
    {
        "id": "626e4f89ce21809b",
        "type": "group",
        "z": "d4f7b60da20c4f7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "28cab034bb6efda3",
            "385088e51713bc4c",
            "8449ae58677af9f4",
            "55f9dab90b57ef7d",
            "8a88f4882bdedcc0",
            "455df535e51063a6",
            "3b1bcfd7147a326e",
            "4aaf65f8d77d5989",
            "877f4bbd81308f3f",
            "a7cf411cb0b417a3",
            "6b2a4ca6524b5b3b",
            "edc71fecdb69fecd",
            "1bb7db139f15e8ae",
            "ff87f5159eebd04c",
            "482f4556a04af0d7",
            "53aa95224c8e47eb",
            "ae92eb3377fe1da5",
            "14e90191b6a5a41d",
            "4bd235aec2d0baca",
            "dc4b3c8f8447fbbd",
            "24dbda31191462ac",
            "5bb7f99a055b7c43",
            "0ad9a2d4ab7eb85a"
        ],
        "x": 2494,
        "y": 99,
        "w": 732,
        "h": 1082
    },
    {
        "id": "822265f0b0dca956",
        "type": "group",
        "z": "d4f7b60da20c4f7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "26302c3ea68a6723",
            "dc670a95213ce493",
            "6584fa275cb9fa51",
            "cc2356d58424f223",
            "cfe7518de9a5cadc",
            "b1a2ac35e07e342d",
            "fd9c9dce84c92ff8",
            "db9dd2f6a5def1a5",
            "6ca9059507b51f10",
            "fa925f59e76aefb4",
            "00de955fcd9072e3",
            "d065043099a051a4",
            "ad03ec21e7a08b5e"
        ],
        "x": 2494,
        "y": 1219,
        "w": 752,
        "h": 382
    },
    {
        "id": "f695c826fbaa6b9d",
        "type": "group",
        "z": "d4f7b60da20c4f7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f22230f3a3a9727a",
            "b5dc10a83f38c17c",
            "dccac06a881f80d5",
            "9d16c0ea8ab8f220",
            "786ffbbc23ec325d",
            "7d652b9038b1292b",
            "c7c241498d05ed9c",
            "a33e0e483464dbe1",
            "4e35d74d7a0a60f3",
            "b8440910fa8d1252",
            "065e291fa5bdec4e"
        ],
        "x": 2053.0001258850098,
        "y": 99,
        "w": 392.99987411499023,
        "h": 422
    },
    {
        "id": "9f303a980207b02f",
        "type": "group",
        "z": "d4f7b60da20c4f7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a86eb935797ce511",
            "21462502ca018cc5",
            "e166f8ea0f07e183",
            "524fc517608120b7"
        ],
        "x": 3294,
        "y": 839,
        "w": 592,
        "h": 122
    },
    {
        "id": "8b44673b6cb00933",
        "type": "group",
        "z": "d4f7b60da20c4f7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "31c7f7fb52fb74f6",
            "01d054e61849c63d",
            "98463f4330867492",
            "8809feeb8924a5b2",
            "e4abd25cacc0a263",
            "5e7426015baa473a",
            "2e94faa4ed939598",
            "02e2b7e7d1aaf55f",
            "8dfaf105a0ae2bdd",
            "bbd78e30c39a7e45",
            "9da072b3cea4a3a2",
            "b6fea617cd708b11",
            "93086766996eb24f",
            "88d75b5e71e0a2e3",
            "e107fdb78d59b1fd",
            "b998a6f5b3defca3",
            "2104e9bb237f86f5",
            "aebdbb7b56ca4a5c",
            "5eb142b78028c36e",
            "ed065b04ab1f154a",
            "f99831ef77e1214d",
            "b36e77a829fa2e23",
            "9f488b7e22de5aec",
            "6e87af89533ca6ab"
        ],
        "x": 2494,
        "y": 1639,
        "w": 1132,
        "h": 742
    },
    {
        "id": "f6c382e7cfc97059",
        "type": "switch",
        "z": "d4f7b60da20c4f7e",
        "g": "6b2fb964e962c708",
        "name": "",
        "property": "payload.signal",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "E_Stop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TL_Red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TL_Yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TL_Green",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1430,
        "y": 300,
        "wires": [
            [
                "c3f082c4d7ee850d"
            ],
            [
                "15e783347126c358"
            ],
            [
                "c7073dbfa27800eb"
            ],
            [
                "4e2f30a3b5e0697c"
            ]
        ]
    },
    {
        "id": "4e2f30a3b5e0697c",
        "type": "switch",
        "z": "d4f7b60da20c4f7e",
        "g": "6b2fb964e962c708",
        "name": "TL_Green",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1660,
        "y": 480,
        "wires": [
            [
                "f1dfa094ffa5608a"
            ],
            [
                "625be556465993d0"
            ]
        ]
    },
    {
        "id": "c3f082c4d7ee850d",
        "type": "switch",
        "z": "d4f7b60da20c4f7e",
        "g": "6b2fb964e962c708",
        "name": "E_Stop",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1660,
        "y": 220,
        "wires": [
            [
                "5308e043753a2934"
            ],
            [
                "1be725a2c2a1f888"
            ]
        ]
    },
    {
        "id": "c7073dbfa27800eb",
        "type": "switch",
        "z": "d4f7b60da20c4f7e",
        "g": "6b2fb964e962c708",
        "name": "TL_Yellow",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1670,
        "y": 400,
        "wires": [
            [
                "c763b9512cfa1a35"
            ],
            [
                "f1189149dd4f58f5"
            ]
        ]
    },
    {
        "id": "f1dfa094ffa5608a",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "6b2fb964e962c708",
        "name": "green_TL = 1",
        "func": "var TL_Green = msg.payload.onoff;\nvar total_count=flow.get(\"total_count\");\nvar ok_part=flow.get(\"ok_part\");\n\nif(TL_Green==1){\n    TL_Green = 1;\n    flow.set(\"TL_Green\",1);\n    \n        ok_part++\n    flow.set(\"ok_part\",ok_part);\n    \n        total_count++;\n    flow.set(\"total_count\",total_count);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 460,
        "wires": [
            [
                "dccac06a881f80d5"
            ]
        ]
    },
    {
        "id": "c763b9512cfa1a35",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "6b2fb964e962c708",
        "name": "yellow_TL = 1",
        "func": "var TL_Yellow = msg.payload.onoff; \nvar total_count=flow.get(\"total_count\");\nvar ng_part=flow.get(\"ng_part\");\n\nif(TL_Yellow==1){\n    TL_Yellow = 1;\n    flow.set(\"TL_Yellow\",1);\n    \n        ng_part++\n    flow.set(\"ng_part\",ng_part);\n    \n        total_count++;\n    flow.set(\"total_count\",total_count);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 380,
        "wires": [
            [
                "786ffbbc23ec325d"
            ]
        ]
    },
    {
        "id": "5308e043753a2934",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "6b2fb964e962c708",
        "name": "E-stop_on(ts)",
        "func": "var downtime= \"ongoing\";\nvar count= flow.get(\"E-stop_on\");\n\nif(count==undefined){       //set initial value\n    count=0;\n}\n\nflow.set(\"E-stop_onoff\",msg.payload.onoff); // add counter value\nflow.set(\"es_on\",msg.payload.timestamp); //save Em.Stop_On time\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 200,
        "wires": [
            [
                "b5dc10a83f38c17c"
            ]
        ]
    },
    {
        "id": "1be725a2c2a1f888",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "6b2fb964e962c708",
        "name": "E-stop_off(ts)",
        "func": "var es_off = msg.payload.timestamp;\nvar es_on = flow.get(\"es_on\");\nvar downtime = \"stoped\";\nvar duration;\nvar total_downtime = flow.get(\"total_downtime\");\nvar runtime;\n\nif(total_downtime==undefined){\n    total_downtime=0;               //set initial value\n}\n\nduration= es_off - es_on;\ntotal_downtime = total_downtime+duration;\nflow.set(\"total_downtime\",total_downtime)\nflow.set(\"E-stop_onoff\",msg.payload.onoff);\n\nruntime = flow.get(\"PPT\")-total_downtime;\n\n//duration= duration/1000; // change milisecond to second\n//duration= duration.toFixed(2); //change to 2 decimal (string)\n//duration= parseFloat(duration);// change string to float\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 240,
        "wires": [
            [
                "b5dc10a83f38c17c"
            ]
        ]
    },
    {
        "id": "d3902425a5297af4",
        "type": "mqtt in",
        "z": "d4f7b60da20c4f7e",
        "g": "6b2fb964e962c708",
        "name": "",
        "topic": "005_kit _TL",
        "qos": "0",
        "datatype": "json",
        "broker": "5e17b817fab3699f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1270,
        "y": 300,
        "wires": [
            [
                "f6c382e7cfc97059"
            ]
        ]
    },
    {
        "id": "3a8cd9465f493823",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "6b2fb964e962c708",
        "name": "Signal Processing",
        "info": "",
        "x": 1290,
        "y": 140,
        "wires": []
    },
    {
        "id": "625be556465993d0",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "6b2fb964e962c708",
        "name": "green_TL = 0",
        "func": "var TL_Green = msg.payload.onoff;\n\nif(TL_Green==0){\n    TL_Green = 0;\n    flow.set(\"TL_Green\",0);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 500,
        "wires": [
            [
                "dccac06a881f80d5"
            ]
        ]
    },
    {
        "id": "f1189149dd4f58f5",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "6b2fb964e962c708",
        "name": "yellow_TL = 0",
        "func": "var TL_Yellow = msg.payload.onoff; \n\nif(TL_Yellow==0){\n    TL_Yellow = 0;\n    flow.set(\"TL_Yellow\",0);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 420,
        "wires": [
            [
                "786ffbbc23ec325d"
            ]
        ]
    },
    {
        "id": "b39f8eba337af760",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "fe1b39a6600cb340",
        "name": "flow.set(\"flow\",0);",
        "func": "flow.set(\"p_id\",undefined);\nflow.set(\"ok_part\",msg.payload);\nflow.set(\"ng_part\",msg.payload);\nflow.set(\"cycle_time\",msg.payload);\nflow.set(\"total_cycle_time\",msg.payload);  \nflow.set('total_count',msg.payload);\nflow.set(\"motor1\",msg.payload);\nflow.set(\"TL_Yellow\",msg.payload);\nflow.set(\"TL_Green\",msg.payload);\nflow.set(\"dts\",msg.payload);\n\nflow.set('total_downtime',msg.payload);\n\nflow.set('available',msg.payload);\nflow.set('performance',msg.payload);\nflow.set('quality',msg.payload);\nflow.set('oee',msg.payload);\n\nflow.set('PPT',msg.payload);\nflow.set('ICT',msg.payload);\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "e6cf8455be81fdd5",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "fe1b39a6600cb340",
        "name": "Reset Counter",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1290,
        "y": 700,
        "wires": [
            [
                "eec6d9bd625f1dd2"
            ]
        ]
    },
    {
        "id": "b8f76ac4e07db999",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "fe1b39a6600cb340",
        "name": "flow.set(\"flow\",0);",
        "func": "flow.set(\"is_on\",msg.payload);\nflow.set(\"s1_on\",msg.payload);\nflow.set(\"s2_on\",msg.payload);\nflow.set(\"s3_on\",msg.payload);\nflow.set(\"tower_light\",msg.payload);\nflow.set(\"start_ts\",msg.payload);\nflow.set(\"s1_ts\",msg.payload);\nflow.set(\"E-stop_on\",msg.payload);\nflow.set(\"motor1\",msg.payload);\nflow.set(\"TL_Yellow\",msg.payload);\nflow.set(\"TL_Green\",msg.payload);\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "d41fbc64f9e21811",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "fe1b39a6600cb340",
        "name": "Reset Sensor",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1290,
        "y": 760,
        "wires": [
            [
                "b8f76ac4e07db999"
            ]
        ]
    },
    {
        "id": "4884309fead2c4eb",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "fe1b39a6600cb340",
        "name": "Reset ",
        "info": "",
        "x": 1270,
        "y": 640,
        "wires": []
    },
    {
        "id": "82406446724d2323",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "d638b29ce563a84d",
        "name": "",
        "func": "flow.set('PPT',(msg.payload.PPT*60000) ) // convert minutes to millisecond\nflow.set('ICT',msg.payload.ICT*1000)    // convert second to millisecond\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "ed1feac79bca8181",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "d638b29ce563a84d",
        "name": "Key-In Value",
        "info": "",
        "x": 1919.9999389648438,
        "y": 643.3333415985107,
        "wires": []
    },
    {
        "id": "536d6533eb35c9c4",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "Emergency Button",
        "info": "",
        "x": 170,
        "y": 180,
        "wires": []
    },
    {
        "id": "5cd360301e99697d",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "Green Tower Light",
        "info": "",
        "x": 170,
        "y": 700,
        "wires": []
    },
    {
        "id": "0ffd3abcf32dbc5c",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "Yellow Tower Light",
        "info": "",
        "x": 170,
        "y": 520,
        "wires": []
    },
    {
        "id": "fc204fb7858d11e5",
        "type": "s7 in",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Emergency Stop (HW:= NC),,,,",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "99214768df90183e"
            ]
        ]
    },
    {
        "id": "129cfcc2b45cc73c",
        "type": "s7 in",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Green Tower Light,,,,",
        "diff": true,
        "name": "",
        "x": 170,
        "y": 780,
        "wires": [
            [
                "c2e1b4740f375f95"
            ]
        ]
    },
    {
        "id": "af8ae64eb4cbd8b1",
        "type": "s7 in",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Yellow Tower Light,,,,",
        "diff": true,
        "name": "",
        "x": 180,
        "y": 600,
        "wires": [
            [
                "af7e37f84a4aa045"
            ]
        ]
    },
    {
        "id": "5d9a6ca8045cd657",
        "type": "mqtt out",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "",
        "topic": "005_kit _TL",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5e17b817fab3699f",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "f17739bdc8e040a3",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"E_Stop\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 260,
        "wires": [
            [
                "5d9a6ca8045cd657"
            ]
        ]
    },
    {
        "id": "3a9bc46f69305c28",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"TL_Green\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 780,
        "wires": [
            [
                "5d9a6ca8045cd657"
            ]
        ]
    },
    {
        "id": "561070b52ffbf55b",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"TL_Yellow\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 600,
        "wires": [
            [
                "5d9a6ca8045cd657"
            ]
        ]
    },
    {
        "id": "c2e1b4740f375f95",
        "type": "change",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 780,
        "wires": [
            [
                "3a9bc46f69305c28"
            ]
        ]
    },
    {
        "id": "af7e37f84a4aa045",
        "type": "change",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 600,
        "wires": [
            [
                "561070b52ffbf55b"
            ]
        ]
    },
    {
        "id": "99214768df90183e",
        "type": "change",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "f17739bdc8e040a3"
            ]
        ]
    },
    {
        "id": "31eef8b507f48ceb",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "Signals",
        "info": "",
        "x": 1050,
        "y": 140,
        "wires": []
    },
    {
        "id": "0d384172c128e41a",
        "type": "ui_switch",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "Emrgency Stop Switch",
        "label": "Emrgency Stop",
        "tooltip": "",
        "group": "f9f5e1c7e933e74d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "99214768df90183e"
            ]
        ]
    },
    {
        "id": "71d508ac9a1d1f42",
        "type": "ui_switch",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "Green TL",
        "label": "Green TL",
        "tooltip": "",
        "group": "f9f5e1c7e933e74d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 820,
        "wires": [
            [
                "c2e1b4740f375f95"
            ]
        ]
    },
    {
        "id": "8b61e21d91e6cd41",
        "type": "ui_switch",
        "z": "d4f7b60da20c4f7e",
        "g": "e51c0cdc216f31c2",
        "name": "Yellow TL",
        "label": "Yellow TL",
        "tooltip": "",
        "group": "f9f5e1c7e933e74d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 640,
        "wires": [
            [
                "af7e37f84a4aa045"
            ]
        ]
    },
    {
        "id": "ba02de869d9be47f",
        "type": "ui_form",
        "z": "d4f7b60da20c4f7e",
        "g": "d638b29ce563a84d",
        "name": "user_input",
        "label": "",
        "group": "32fbd81394eea80e",
        "order": 1,
        "width": 8,
        "height": 1,
        "options": [
            {
                "label": "Planned Production Time (Minutes)",
                "value": "PPT",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Ideal Cycle Time (second)",
                "value": "ICT",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "PPT": "",
            "ICT": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 1930,
        "y": 740,
        "wires": [
            [
                "82406446724d2323"
            ]
        ]
    },
    {
        "id": "eec6d9bd625f1dd2",
        "type": "ui_button",
        "z": "d4f7b60da20c4f7e",
        "g": "fe1b39a6600cb340",
        "name": "",
        "group": "32fbd81394eea80e",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1470,
        "y": 700,
        "wires": [
            [
                "b39f8eba337af760"
            ]
        ]
    },
    {
        "id": "28cab034bb6efda3",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "name": "Availability",
        "func": "var PPT = flow.get('PPT')\nvar total_downtime =flow.get('total_downtime')\nvar runtime = PPT - total_downtime\n\nvar available_percent = (runtime/PPT)*100;\nvar available = (runtime/PPT)*100;\nflow.set('available',available)\n\nmsg.payload ={\n     available : available.toFixed(2),\n     available_percent : available_percent.toFixed(2)\n}\n\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nflow.set(\"dts\",dts);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2870,
        "y": 200,
        "wires": [
            [
                "8449ae58677af9f4",
                "55f9dab90b57ef7d",
                "2b76fcf71e1b10d6"
            ]
        ]
    },
    {
        "id": "385088e51713bc4c",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "name": "",
        "props": [],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2630,
        "y": 200,
        "wires": [
            [
                "28cab034bb6efda3",
                "8a88f4882bdedcc0",
                "4aaf65f8d77d5989",
                "6b2a4ca6524b5b3b",
                "ff87f5159eebd04c"
            ]
        ]
    },
    {
        "id": "8449ae58677af9f4",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "group": "c44cc1d15a75c82c",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Availability",
        "format": "{{msg.payload.available_percent}}",
        "layout": "row-spread",
        "className": "",
        "x": 3050,
        "y": 200,
        "wires": []
    },
    {
        "id": "55f9dab90b57ef7d",
        "type": "ui_gauge",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "name": "",
        "group": "c44cc1d15a75c82c",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Availability",
        "label": "%",
        "format": "{{msg.payload.available_percent}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dff00"
        ],
        "seg1": "",
        "seg2": "90",
        "className": "",
        "x": 3050,
        "y": 280,
        "wires": []
    },
    {
        "id": "8a88f4882bdedcc0",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "name": "Performance",
        "func": "var ICT = flow.get('ICT');\nvar TC = flow.get('total_count')\nvar RT = flow.get('PPT')-flow.get('total_downtime')\n\nvar performance = ((ICT*TC)/RT)*100\nflow.set('performance',performance)\n\nmsg.payload = performance.toFixed(2)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2870,
        "y": 360,
        "wires": [
            [
                "455df535e51063a6",
                "dc4b3c8f8447fbbd",
                "ff1bb2801d7db402"
            ]
        ]
    },
    {
        "id": "455df535e51063a6",
        "type": "ui_gauge",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "name": "",
        "group": "c44cc1d15a75c82c",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Performance",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dff00"
        ],
        "seg1": "60",
        "seg2": "95",
        "className": "",
        "x": 3050,
        "y": 440,
        "wires": []
    },
    {
        "id": "3b1bcfd7147a326e",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "name": "OEE",
        "info": "",
        "x": 2570,
        "y": 140,
        "wires": []
    },
    {
        "id": "4aaf65f8d77d5989",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "name": "Quality",
        "func": "var GC = flow.get('ok_part')\nvar TC = flow.get('total_count')\nvar quality = (GC/TC)*100\n\nflow.set('quality',quality)\n\nmsg.payload = quality.toFixed(2)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2860,
        "y": 520,
        "wires": [
            [
                "877f4bbd81308f3f",
                "a7cf411cb0b417a3"
            ]
        ]
    },
    {
        "id": "877f4bbd81308f3f",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "group": "c44cc1d15a75c82c",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Quality",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3040,
        "y": 520,
        "wires": []
    },
    {
        "id": "a7cf411cb0b417a3",
        "type": "ui_gauge",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "name": "",
        "group": "c44cc1d15a75c82c",
        "order": 7,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Quality",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dff00"
        ],
        "seg1": "60",
        "seg2": "99",
        "className": "",
        "x": 3040,
        "y": 600,
        "wires": []
    },
    {
        "id": "6b2a4ca6524b5b3b",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "name": "OEE",
        "func": "var a = flow.get('available')\nvar p = flow.get('performance')\nvar q = flow.get('quality')\nvar oee = a*p*q/10000;\n\nflow.set('oee',oee)\n\nmsg.payload = oee.toFixed(2)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2850,
        "y": 680,
        "wires": [
            [
                "edc71fecdb69fecd",
                "1bb7db139f15e8ae",
                "9496bf434a19e9d6",
                "524fc517608120b7"
            ]
        ]
    },
    {
        "id": "edc71fecdb69fecd",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "group": "c44cc1d15a75c82c",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "OEE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3030,
        "y": 680,
        "wires": []
    },
    {
        "id": "1bb7db139f15e8ae",
        "type": "ui_gauge",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "name": "",
        "group": "c44cc1d15a75c82c",
        "order": 8,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "OEE",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dff00"
        ],
        "seg1": "60",
        "seg2": "85",
        "className": "",
        "x": 3030,
        "y": 760,
        "wires": []
    },
    {
        "id": "ff87f5159eebd04c",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "name": "Information",
        "func": "var p_id = 1000 + flow.get('total_count')\nvar total_count = flow.get('total_count')\nvar total_ok = flow.get('ok_part')\nvar total_ng = flow.get('ng_part')\nvar ICT = flow.get('ICT')\nvar PPT = flow.get('PPT')\nvar total_downtime = flow.get('total_downtime')\nvar runtime = flow.get('PPT') - flow.get('total_downtime')\n\nmsg.payload = {\n    p_id : p_id,\n    total_count:total_count,\n    total_ok:total_ok,\n    total_ng:total_ng,\n    PPT:PPT,\n    ICT:ICT,\n    total_downtime : total_downtime/1000,\n    runtime:runtime/1000\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2830,
        "y": 840,
        "wires": [
            [
                "53aa95224c8e47eb",
                "482f4556a04af0d7",
                "ae92eb3377fe1da5",
                "14e90191b6a5a41d",
                "4bd235aec2d0baca",
                "24dbda31191462ac",
                "0ad9a2d4ab7eb85a",
                "5bb7f99a055b7c43"
            ]
        ]
    },
    {
        "id": "482f4556a04af0d7",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "group": "32fbd81394eea80e",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Total good",
        "format": "{{msg.payload.total_ok}}",
        "layout": "row-spread",
        "className": "",
        "x": 3050,
        "y": 940,
        "wires": []
    },
    {
        "id": "53aa95224c8e47eb",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "group": "32fbd81394eea80e",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Total Count",
        "format": "{{msg.payload.total_count}}",
        "layout": "row-spread",
        "className": "",
        "x": 3050,
        "y": 900,
        "wires": []
    },
    {
        "id": "ae92eb3377fe1da5",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "group": "32fbd81394eea80e",
        "order": 4,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Total reject",
        "format": "{{msg.payload.total_ng}}",
        "layout": "row-spread",
        "className": "",
        "x": 3050,
        "y": 980,
        "wires": []
    },
    {
        "id": "14e90191b6a5a41d",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "group": "32fbd81394eea80e",
        "order": 7,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Planned Production Time ",
        "format": "{{msg.payload.PPT}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 3090,
        "y": 1100,
        "wires": []
    },
    {
        "id": "4bd235aec2d0baca",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "group": "32fbd81394eea80e",
        "order": 8,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Ideal Cycle Time",
        "format": "{{msg.payload.ICT}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 3060,
        "y": 1140,
        "wires": []
    },
    {
        "id": "dc4b3c8f8447fbbd",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "group": "c44cc1d15a75c82c",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Performance",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3050,
        "y": 360,
        "wires": []
    },
    {
        "id": "24dbda31191462ac",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "group": "32fbd81394eea80e",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Runtime",
        "format": "{{msg.payload.runtime}} s",
        "layout": "row-spread",
        "className": "",
        "x": 3040,
        "y": 1060,
        "wires": []
    },
    {
        "id": "5bb7f99a055b7c43",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "group": "32fbd81394eea80e",
        "order": 5,
        "width": 8,
        "height": 1,
        "name": "Total Downtime",
        "label": "Total Downtime ",
        "format": "{{msg.payload.total_downtime}} s",
        "layout": "row-spread",
        "className": "",
        "x": 3060,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0ad9a2d4ab7eb85a",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "626e4f89ce21809b",
        "group": "32fbd81394eea80e",
        "order": 10,
        "width": 8,
        "height": 1,
        "name": "Product ID",
        "label": "Current Product ID",
        "format": "# {{msg.payload.p_id}} ",
        "layout": "row-spread",
        "className": "",
        "x": 3050,
        "y": 860,
        "wires": []
    },
    {
        "id": "26302c3ea68a6723",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "name": "OEE_TL",
        "func": "\n\nmsg.payload=[{measurement:\"oee_tl_rid\",\n                fields:{\n                    available:flow.get('available'),\n                    performance:flow.get('performance'),\n                    quality:flow.get('quality'),\n                    oee:flow.get('oee'),\n                    dts:flow.get(\"dts\")\n                    \n                    \n                },\n                tags:{\n                    \n                    \n                },\n                \n                \n    \n}\n    \n    ]\n    \n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2740,
        "y": 1320,
        "wires": [
            [
                "dc670a95213ce493"
            ]
        ]
    },
    {
        "id": "dc670a95213ce493",
        "type": "influxdb batch",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "influxdb": "c0be221787a8fcdb",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 3100,
        "y": 1320,
        "wires": []
    },
    {
        "id": "6584fa275cb9fa51",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "name": "",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2590,
        "y": 1320,
        "wires": [
            [
                "26302c3ea68a6723"
            ]
        ]
    },
    {
        "id": "cc2356d58424f223",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2590,
        "y": 1420,
        "wires": [
            [
                "b1a2ac35e07e342d"
            ]
        ]
    },
    {
        "id": "cfe7518de9a5cadc",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "name": "DELETE MEASUREMENT",
        "info": "",
        "x": 2630,
        "y": 1380,
        "wires": []
    },
    {
        "id": "b1a2ac35e07e342d",
        "type": "influxdb in",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "influxdb": "c0be221787a8fcdb",
        "name": "all_events_ridhuan",
        "query": "DELETE FROM oee_tl_rid ",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 3130,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "fd9c9dce84c92ff8",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "name": "INSERT MEASUREMENT",
        "info": "",
        "x": 2630,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f22230f3a3a9727a",
        "type": "ui_led",
        "z": "d4f7b60da20c4f7e",
        "g": "f695c826fbaa6b9d",
        "order": 1,
        "group": "dafe29d4609e9df6",
        "width": 8,
        "height": 2,
        "label": "Emergency Stop",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Emergency Stop",
        "x": 2330,
        "y": 220,
        "wires": []
    },
    {
        "id": "b5dc10a83f38c17c",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "f695c826fbaa6b9d",
        "name": "",
        "func": "msg.payload=flow.get('E-stop_onoff');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 220,
        "wires": [
            [
                "f22230f3a3a9727a"
            ]
        ]
    },
    {
        "id": "dccac06a881f80d5",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "f695c826fbaa6b9d",
        "name": "",
        "func": "msg.payload=flow.get('TL_Green');\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 480,
        "wires": [
            [
                "9d16c0ea8ab8f220"
            ]
        ]
    },
    {
        "id": "9d16c0ea8ab8f220",
        "type": "ui_led",
        "z": "d4f7b60da20c4f7e",
        "g": "f695c826fbaa6b9d",
        "order": 4,
        "group": "dafe29d4609e9df6",
        "width": 8,
        "height": 2,
        "label": "TL_Green",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "TL_Green",
        "x": 2320,
        "y": 480,
        "wires": []
    },
    {
        "id": "786ffbbc23ec325d",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "f695c826fbaa6b9d",
        "name": "",
        "func": "msg.payload=flow.get('TL_Yellow');\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 400,
        "wires": [
            [
                "7d652b9038b1292b"
            ]
        ]
    },
    {
        "id": "7d652b9038b1292b",
        "type": "ui_led",
        "z": "d4f7b60da20c4f7e",
        "g": "f695c826fbaa6b9d",
        "order": 3,
        "group": "dafe29d4609e9df6",
        "width": 8,
        "height": 2,
        "label": "TL_Yellow",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "TL_Yellow",
        "x": 2340,
        "y": 400,
        "wires": []
    },
    {
        "id": "c7c241498d05ed9c",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "f695c826fbaa6b9d",
        "name": "Input Monitoring",
        "info": "",
        "x": 2160,
        "y": 140,
        "wires": []
    },
    {
        "id": "8e5e99ff88275d83",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "name": "Yellow Tower Light",
        "info": "",
        "x": 170,
        "y": 360,
        "wires": []
    },
    {
        "id": "3abb84108ca65bf1",
        "type": "s7 in",
        "z": "d4f7b60da20c4f7e",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Red Tower Light,,,,",
        "diff": true,
        "name": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "308f3a3af1876706"
            ]
        ]
    },
    {
        "id": "12acf2b9b4aee26e",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"TL_Red\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 440,
        "wires": [
            [
                "5d9a6ca8045cd657"
            ]
        ]
    },
    {
        "id": "308f3a3af1876706",
        "type": "change",
        "z": "d4f7b60da20c4f7e",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "12acf2b9b4aee26e"
            ]
        ]
    },
    {
        "id": "59f682e134b8647e",
        "type": "ui_switch",
        "z": "d4f7b60da20c4f7e",
        "name": "Red TL",
        "label": "Red TL",
        "tooltip": "",
        "group": "f9f5e1c7e933e74d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 480,
        "wires": [
            [
                "308f3a3af1876706"
            ]
        ]
    },
    {
        "id": "15e783347126c358",
        "type": "switch",
        "z": "d4f7b60da20c4f7e",
        "name": "TL_Red",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1660.5078125,
        "y": 305.5234375,
        "wires": [
            [
                "d48350693ca4f9fd"
            ],
            [
                "9933cfe305648048"
            ]
        ]
    },
    {
        "id": "d48350693ca4f9fd",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "name": "red_TL = 1",
        "func": "var TL_Red = msg.payload.onoff; \nvar total_count=flow.get(\"total_count\");\nvar ng_part=flow.get(\"ng_part\");\n\nif(TL_Red==1){\n    TL_Red = 1;\n    flow.set(\"TL_Red\",1);\n    \nvar red_on_ts = msg.payload.timestamp;\n    red_on_ts= red_on_ts/1000;          // change milisecond to second\n    red_on_ts= red_on_ts.toFixed(2);    //change to 2 decimal (string)\n    red_on_ts= parseFloat(red_on_ts);   // change string to float\n    flow.set(\"red_on_ts\",red_on_ts);\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910.5078125,
        "y": 285.5234375,
        "wires": [
            [
                "065e291fa5bdec4e",
                "a33e0e483464dbe1"
            ]
        ]
    },
    {
        "id": "9933cfe305648048",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "name": "red_TL = 0",
        "func": "var TL_Red = msg.payload.onoff; \n\nif(TL_Red==0){\n    TL_Red = 0;\n    flow.set(\"TL_Red\",0);\n    \nvar red_off_ts = msg.payload.timestamp;\n    red_off_ts= red_off_ts/1000;          // change milisecond to second\n    red_off_ts= red_off_ts.toFixed(2);    //change to 2 decimal (string)\n    red_off_ts= parseFloat(red_off_ts);   // change string to float\n    flow.set(\"red_off_ts\",red_off_ts);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910.5078125,
        "y": 325.5234375,
        "wires": [
            [
                "065e291fa5bdec4e",
                "b8440910fa8d1252"
            ]
        ]
    },
    {
        "id": "065e291fa5bdec4e",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "f695c826fbaa6b9d",
        "name": "",
        "func": "msg.payload=    flow.get('TL_Red');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2139.0001258850098,
        "y": 303.99999809265137,
        "wires": [
            [
                "4e35d74d7a0a60f3"
            ]
        ]
    },
    {
        "id": "4e35d74d7a0a60f3",
        "type": "ui_led",
        "z": "d4f7b60da20c4f7e",
        "g": "f695c826fbaa6b9d",
        "order": 2,
        "group": "dafe29d4609e9df6",
        "width": 8,
        "height": 2,
        "label": "TL_Red",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "TL_Red",
        "x": 2319.0001258850098,
        "y": 303.99999809265137,
        "wires": []
    },
    {
        "id": "a33e0e483464dbe1",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "f695c826fbaa6b9d",
        "group": "dafe29d4609e9df6",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Red TL On",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "className": "",
        "x": 2329.0001258850098,
        "y": 263.99999809265137,
        "wires": []
    },
    {
        "id": "b8440910fa8d1252",
        "type": "ui_text",
        "z": "d4f7b60da20c4f7e",
        "g": "f695c826fbaa6b9d",
        "group": "dafe29d4609e9df6",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Red TL Off",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "className": "",
        "x": 2329.0001258850098,
        "y": 343.99999809265137,
        "wires": []
    },
    {
        "id": "9496bf434a19e9d6",
        "type": "switch",
        "z": "d4f7b60da20c4f7e",
        "name": ">85",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "85",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3290,
        "y": 720,
        "wires": [
            [
                "a56473060f980bd4"
            ]
        ]
    },
    {
        "id": "a56473060f980bd4",
        "type": "delay",
        "z": "d4f7b60da20c4f7e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 3480,
        "y": 720,
        "wires": [
            [
                "17270b5efe47d7a2"
            ]
        ]
    },
    {
        "id": "17270b5efe47d7a2",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "name": "",
        "func": "var temp = msg.payload;\nvar datetime = new Date();\nvar dateString = datetime.toLocaleString();\n\nvar warningStr = ' Temperature of the machine currently at '  + temp + ' degree Celcius.\\n Time: '  + dateString+ '.'; \n\n\nmsg.payload = warningStr;\nmsg.topic = '[WARNING] Temperature Machine 005 Temperature High';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3660,
        "y": 720,
        "wires": [
            [
                "b09993398c6873ca",
                "ed4fc79777214976"
            ]
        ]
    },
    {
        "id": "b09993398c6873ca",
        "type": "e-mail",
        "z": "d4f7b60da20c4f7e",
        "d": true,
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "mechatorial@gmail.com",
        "dname": "Trainer Email",
        "x": 3870,
        "y": 680,
        "wires": []
    },
    {
        "id": "ed4fc79777214976",
        "type": "e-mail",
        "z": "d4f7b60da20c4f7e",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "rid.storage98@gmail.com ",
        "dname": "rid",
        "x": 3850,
        "y": 720,
        "wires": [],
        "info": "odvrrznizybkggzo"
    },
    {
        "id": "3c0aa3cf2bd1f0fa",
        "type": "switch",
        "z": "d4f7b60da20c4f7e",
        "name": "<40",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "40",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3290,
        "y": 560,
        "wires": [
            [
                "6841db896670c134"
            ]
        ]
    },
    {
        "id": "6841db896670c134",
        "type": "delay",
        "z": "d4f7b60da20c4f7e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 3480,
        "y": 560,
        "wires": [
            [
                "a5739595593c4bfe"
            ]
        ]
    },
    {
        "id": "a5739595593c4bfe",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "name": "",
        "func": "var temp = msg.payload;\nvar datetime = new Date();\nvar dateString = datetime.toLocaleString();\n\nvar warningStr = ' Temperature of the machine currently at '  + temp + ' degree Celcius.\\n Time: '  + dateString+ '.'; \n\n\nmsg.payload = warningStr;\nmsg.topic = '[WARNING] Temperature Machine 005 Temperature High';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3660,
        "y": 560,
        "wires": [
            [
                "ef5e823556a21d19",
                "377b405718b03f5b"
            ]
        ]
    },
    {
        "id": "ef5e823556a21d19",
        "type": "e-mail",
        "z": "d4f7b60da20c4f7e",
        "d": true,
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "mechatorial@gmail.com",
        "dname": "Trainer Email",
        "x": 3870,
        "y": 520,
        "wires": []
    },
    {
        "id": "377b405718b03f5b",
        "type": "e-mail",
        "z": "d4f7b60da20c4f7e",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "rid.storage98@gmail.com ",
        "dname": "rid",
        "x": 3850,
        "y": 560,
        "wires": [],
        "info": "odvrrznizybkggzo"
    },
    {
        "id": "ff1bb2801d7db402",
        "type": "switch",
        "z": "d4f7b60da20c4f7e",
        "name": ">85",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "85",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3310,
        "y": 400,
        "wires": [
            [
                "43c458d7af913690"
            ]
        ]
    },
    {
        "id": "43c458d7af913690",
        "type": "delay",
        "z": "d4f7b60da20c4f7e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 3500,
        "y": 400,
        "wires": [
            [
                "755b169f69d089eb"
            ]
        ]
    },
    {
        "id": "755b169f69d089eb",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "name": "",
        "func": "var temp = msg.payload;\nvar datetime = new Date();\nvar dateString = datetime.toLocaleString();\n\nvar warningStr = ' Temperature of the machine currently at '  + temp + ' degree Celcius.\\n Time: '  + dateString+ '.'; \n\n\nmsg.payload = warningStr;\nmsg.topic = '[WARNING] Temperature Machine 005 Temperature High';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3680,
        "y": 400,
        "wires": [
            [
                "096570b10896630c",
                "5c15bd7b83bd9177"
            ]
        ]
    },
    {
        "id": "096570b10896630c",
        "type": "e-mail",
        "z": "d4f7b60da20c4f7e",
        "d": true,
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "mechatorial@gmail.com",
        "dname": "Trainer Email",
        "x": 3890,
        "y": 360,
        "wires": []
    },
    {
        "id": "5c15bd7b83bd9177",
        "type": "e-mail",
        "z": "d4f7b60da20c4f7e",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "rid.storage98@gmail.com ",
        "dname": "rid",
        "x": 3870,
        "y": 400,
        "wires": [],
        "info": "odvrrznizybkggzo"
    },
    {
        "id": "2b76fcf71e1b10d6",
        "type": "switch",
        "z": "d4f7b60da20c4f7e",
        "name": "< 40",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "40",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3310,
        "y": 260,
        "wires": [
            [
                "5d82c161f5df08d3"
            ]
        ]
    },
    {
        "id": "5d82c161f5df08d3",
        "type": "delay",
        "z": "d4f7b60da20c4f7e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 3500,
        "y": 260,
        "wires": [
            [
                "e4f916cbbe884d96"
            ]
        ]
    },
    {
        "id": "e4f916cbbe884d96",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "name": "",
        "func": "var temp = msg.payload;\nvar datetime = new Date();\nvar dateString = datetime.toLocaleString();\n\nvar warningStr = ' Temperature of the machine currently at '  + temp + ' degree Celcius.\\n Time: '  + dateString+ '.'; \n\n\nmsg.payload = warningStr;\nmsg.topic = '[WARNING] Temperature Machine 005 Temperature High';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3680,
        "y": 260,
        "wires": [
            [
                "d630f39dc856ac0f",
                "dca1e8129c541348"
            ]
        ]
    },
    {
        "id": "d630f39dc856ac0f",
        "type": "e-mail",
        "z": "d4f7b60da20c4f7e",
        "d": true,
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "mechatorial@gmail.com",
        "dname": "Trainer Email",
        "x": 3890,
        "y": 220,
        "wires": []
    },
    {
        "id": "dca1e8129c541348",
        "type": "e-mail",
        "z": "d4f7b60da20c4f7e",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "rid.storage98@gmail.com ",
        "dname": "rid",
        "x": 3870,
        "y": 260,
        "wires": [],
        "info": "odvrrznizybkggzo"
    },
    {
        "id": "db9dd2f6a5def1a5",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2590,
        "y": 1500,
        "wires": [
            [
                "6ca9059507b51f10"
            ]
        ]
    },
    {
        "id": "6ca9059507b51f10",
        "type": "influxdb in",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "influxdb": "c0be221787a8fcdb",
        "name": "all_events_ridhuan",
        "query": "SELECT* FROM oee_tl_rid \n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 2930,
        "y": 1500,
        "wires": [
            [
                "fa925f59e76aefb4"
            ]
        ]
    },
    {
        "id": "fa925f59e76aefb4",
        "type": "debug",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3130,
        "y": 1500,
        "wires": []
    },
    {
        "id": "ad03ec21e7a08b5e",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2590,
        "y": 1560,
        "wires": [
            [
                "00de955fcd9072e3"
            ]
        ]
    },
    {
        "id": "00de955fcd9072e3",
        "type": "influxdb in",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "influxdb": "c0be221787a8fcdb",
        "name": "all_events_ridhuan",
        "query": "SELECT* FROM oee_tl_rid where dts = '2022-06-16 12:13:49'\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 2930,
        "y": 1560,
        "wires": [
            [
                "d065043099a051a4"
            ]
        ]
    },
    {
        "id": "d065043099a051a4",
        "type": "debug",
        "z": "d4f7b60da20c4f7e",
        "g": "822265f0b0dca956",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3130,
        "y": 1560,
        "wires": []
    },
    {
        "id": "a86eb935797ce511",
        "type": "telegram sender",
        "z": "d4f7b60da20c4f7e",
        "g": "9f303a980207b02f",
        "name": "",
        "bot": "de4deb3d9756cc51",
        "haserroroutput": false,
        "outputs": 1,
        "x": 3770,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "21462502ca018cc5",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "9f303a980207b02f",
        "name": "",
        "func": "var TgOEEAlert;\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar available =flow.get('available').toFixed(2);\nvar performance =flow.get('performance').toFixed(2);\nvar quality = flow.get('quality').toFixed(2);\n\n\n    \n    TgOEEAlert = {\n        \n    \"chatId\":33130249,\n    \"type\": \"message\",\n    \"content\": \"ALERT! (SYARIKAT SHRDC) PRODUCTION LINE MACHINE HAS ACHIVE DAILY OEE! AT \" + dts + \"\\n\\r\" +\n                \"Details of OEE is as below : \\n\\r\"+\n                \"Availability : \" + available + \"\\n\\r\"+\n                \"Performance : \" + performance + \"\\n\\r\"+\n                \"Quality : \" + quality,\n    }\n\n\n\n msg.payload = TgOEEAlert;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nvar count = 0;",
        "finalize": "",
        "libs": [],
        "x": 3580,
        "y": 920,
        "wires": [
            [
                "a86eb935797ce511"
            ]
        ]
    },
    {
        "id": "e166f8ea0f07e183",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "9f303a980207b02f",
        "name": "Tele Notification",
        "info": "",
        "x": 3460,
        "y": 880,
        "wires": []
    },
    {
        "id": "524fc517608120b7",
        "type": "delay",
        "z": "d4f7b60da20c4f7e",
        "g": "9f303a980207b02f",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 3400,
        "y": 920,
        "wires": [
            [
                "21462502ca018cc5"
            ]
        ]
    },
    {
        "id": "31c7f7fb52fb74f6",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "Save Influx On 11am/12am/1pm/2pm",
        "info": "",
        "x": 2670,
        "y": 1680,
        "wires": []
    },
    {
        "id": "01d054e61849c63d",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2590,
        "y": 2200,
        "wires": [
            [
                "8809feeb8924a5b2"
            ]
        ]
    },
    {
        "id": "98463f4330867492",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "DELETE MEASUREMENT",
        "info": "",
        "x": 2630,
        "y": 2140,
        "wires": []
    },
    {
        "id": "8809feeb8924a5b2",
        "type": "influxdb in",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "influxdb": "c0be221787a8fcdb",
        "name": "oee_tl_timeswitch",
        "query": "DELETE FROM oee_tl_timeswitch",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 3130,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "e4abd25cacc0a263",
        "type": "comment",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "INSERT MEASUREMENT",
        "info": "",
        "x": 2630,
        "y": 1740,
        "wires": []
    },
    {
        "id": "5e7426015baa473a",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2590,
        "y": 2280,
        "wires": [
            [
                "2e94faa4ed939598"
            ]
        ]
    },
    {
        "id": "2e94faa4ed939598",
        "type": "influxdb in",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "influxdb": "c0be221787a8fcdb",
        "name": "oee_tl_timeswitch",
        "query": "SELECT* FROM oee_tl_timeswitch\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 2930,
        "y": 2280,
        "wires": [
            [
                "02e2b7e7d1aaf55f"
            ]
        ]
    },
    {
        "id": "02e2b7e7d1aaf55f",
        "type": "debug",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3130,
        "y": 2280,
        "wires": []
    },
    {
        "id": "8dfaf105a0ae2bdd",
        "type": "influxdb in",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "influxdb": "c0be221787a8fcdb",
        "name": "oee_tl_timeswitch",
        "query": "SELECT* FROM oee_tl_timeswitch",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 2930,
        "y": 2340,
        "wires": [
            [
                "bbd78e30c39a7e45"
            ]
        ]
    },
    {
        "id": "bbd78e30c39a7e45",
        "type": "debug",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3130,
        "y": 2340,
        "wires": []
    },
    {
        "id": "9da072b3cea4a3a2",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2590,
        "y": 2340,
        "wires": [
            [
                "8dfaf105a0ae2bdd"
            ]
        ]
    },
    {
        "id": "6e87af89533ca6ab",
        "type": "ui_table",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "group": "93af1c161c3ff7ee",
        "name": "",
        "order": 1,
        "width": "32",
        "height": "10",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 3150,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "9f488b7e22de5aec",
        "type": "influxdb in",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "influxdb": "c0be221787a8fcdb",
        "name": "oee_tl_timeswitch ",
        "query": "SELECT* FROM oee_tl_timeswitch \n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 2970,
        "y": 2040,
        "wires": [
            [
                "6e87af89533ca6ab"
            ]
        ]
    },
    {
        "id": "b998a6f5b3defca3",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "oee_tl_timeswitch",
        "func": "\n\nmsg.payload=[{measurement:\"oee_tl_timeswitch\",\n                fields:{\n                    available:flow.get('available'),\n                    performance:flow.get('performance'),\n                    quality:flow.get('quality'),\n                    oee:flow.get('oee'),\n                    dts:flow.get(\"dts\")\n                    \n                    \n                },\n                tags:{\n                    \n                    \n                },\n                \n                \n    \n}\n    \n    ]\n    \n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2810,
        "y": 1980,
        "wires": [
            [
                "b36e77a829fa2e23"
            ]
        ]
    },
    {
        "id": "b36e77a829fa2e23",
        "type": "influxdb batch",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "influxdb": "c0be221787a8fcdb",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 3080,
        "y": 1980,
        "wires": []
    },
    {
        "id": "b6fea617cd708b11",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "11am",
        "props": [],
        "repeat": "",
        "crontab": "00 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2590,
        "y": 1860,
        "wires": [
            [
                "b998a6f5b3defca3",
                "aebdbb7b56ca4a5c"
            ]
        ]
    },
    {
        "id": "93086766996eb24f",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "12pm",
        "props": [],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2590,
        "y": 1900,
        "wires": [
            [
                "b998a6f5b3defca3",
                "aebdbb7b56ca4a5c"
            ]
        ]
    },
    {
        "id": "88d75b5e71e0a2e3",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "1pm",
        "props": [],
        "repeat": "",
        "crontab": "00 13 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2590,
        "y": 1940,
        "wires": [
            [
                "b998a6f5b3defca3",
                "aebdbb7b56ca4a5c"
            ]
        ]
    },
    {
        "id": "e107fdb78d59b1fd",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "2pm",
        "props": [],
        "repeat": "",
        "crontab": "00 14 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2590,
        "y": 1980,
        "wires": [
            [
                "b998a6f5b3defca3",
                "aebdbb7b56ca4a5c"
            ]
        ]
    },
    {
        "id": "2104e9bb237f86f5",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2590,
        "y": 2040,
        "wires": [
            [
                "9f488b7e22de5aec"
            ]
        ]
    },
    {
        "id": "aebdbb7b56ca4a5c",
        "type": "function",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "OEE_TL",
        "func": "var nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\n\nmsg.payload=[{\n                    \n                    dts:dts,\n                    available:flow.get('available').toFixed(2),\n                    performance:flow.get('performance').toFixed(2),\n                    quality:flow.get('quality').toFixed(2),\n                    oee:flow.get('oee').toFixed(2)\n                   \n                    \n                    \n               \n            \n                \n                \n    \n}]\n    \n    \n    \n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2780,
        "y": 1860,
        "wires": [
            [
                "5eb142b78028c36e"
            ]
        ]
    },
    {
        "id": "5eb142b78028c36e",
        "type": "csv",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "dts,available,performance,quality,oee",
        "skip": "2",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 2990,
        "y": 1860,
        "wires": [
            [
                "f99831ef77e1214d"
            ]
        ],
        "info": "dts,available,performance,quality,oee\n                    "
    },
    {
        "id": "f99831ef77e1214d",
        "type": "file",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "",
        "filename": "C:\\Users\\suhaimi\\Documents\\RID\\OEE\\OEE_Data_Timeswitch.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 3360,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "ed065b04ab1f154a",
        "type": "inject",
        "z": "d4f7b60da20c4f7e",
        "g": "8b44673b6cb00933",
        "name": "Add Data Title to CSV",
        "props": [
            {
                "p": "reset",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2640,
        "y": 1800,
        "wires": [
            [
                "5eb142b78028c36e"
            ]
        ]
    },
    {
        "id": "5e17b817fab3699f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a2e083367df66ec7",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.4.34",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "100",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "I0.2",
                "name": " Start (HW:= NO / PB Green),,,,"
            },
            {
                "addr": "I0.5",
                "name": " Position Sensor 1 (HW:= Photoelectric),,,,"
            },
            {
                "addr": "I0.6",
                "name": " Position Sensor 2 (HW:= Photoelectric),,,,"
            },
            {
                "addr": "I0.7",
                "name": " Position Sensor 3 (HW:= Photoelectric),,,,"
            },
            {
                "addr": "I1.0",
                "name": " Part Reject Sensor (HW:= Inductive),,,,"
            },
            {
                "addr": "I1.1",
                "name": " Emergency Stop (HW:= NC),,,,"
            },
            {
                "addr": "Q0.0",
                "name": " Red LED,,,,"
            },
            {
                "addr": "Q0.1",
                "name": " Yellow LED,,,,"
            },
            {
                "addr": "Q0.2",
                "name": " Green LED,,,,"
            },
            {
                "addr": "Q0.3",
                "name": " Output 1 ( Motor Operation),,,,"
            },
            {
                "addr": "Q0.5",
                "name": " Output 3 ( Motor Speed),,,,"
            },
            {
                "addr": "Q0.6",
                "name": " Green Tower Light,,,,"
            },
            {
                "addr": "Q0.7",
                "name": " Yellow Tower Light,,,,"
            },
            {
                "addr": "Q1.0",
                "name": " Red Tower Light,,,,"
            },
            {
                "addr": "M50.4",
                "name": "Memory start"
            },
            {
                "addr": "I0.3",
                "name": "Reset"
            },
            {
                "addr": "I0.1",
                "name": "Stop"
            }
        ]
    },
    {
        "id": "f9f5e1c7e933e74d",
        "type": "ui_group",
        "name": "INPUT SIM",
        "tab": "32f849c8f77669b4",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "32fbd81394eea80e",
        "type": "ui_group",
        "name": "INFORMATION",
        "tab": "32f849c8f77669b4",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c44cc1d15a75c82c",
        "type": "ui_group",
        "name": "OEE RESULTS",
        "tab": "32f849c8f77669b4",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c0be221787a8fcdb",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "mldvrid",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "dafe29d4609e9df6",
        "type": "ui_group",
        "name": "INPUT MONITOR",
        "tab": "32f849c8f77669b4",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "de4deb3d9756cc51",
        "type": "telegram bot",
        "botname": "rid_node_red_oee_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "93af1c161c3ff7ee",
        "type": "ui_group",
        "name": "DATA TABLE",
        "tab": "32f849c8f77669b4",
        "order": 1,
        "disp": true,
        "width": "32",
        "collapse": true,
        "className": ""
    },
    {
        "id": "32f849c8f77669b4",
        "type": "ui_tab",
        "name": "OEE TL",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]