Ridhuan_OEE_MUP-DAA02/OEE_Assesment.json
[
    {
        "id": "4581a265b1e53d13",
        "type": "tab",
        "label": "OEE Assesment",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb31fd8080a6bf5c",
        "type": "group",
        "z": "4581a265b1e53d13",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "88907e841ab027bc",
            "a131dacb9c1136cd",
            "372fd0dfaf455fae",
            "6c4cc42b79fbcbfd",
            "1487be0d770ed3e6",
            "3832054064c4ab47",
            "f1914750412418d6",
            "f34fecebdc84098b",
            "6353364753d07fe6",
            "abe6fc7fbdb01c09",
            "70f0297dc0e40747",
            "011a871bd9d46182",
            "5867ad31662a561a",
            "417e52b85b8da0f3",
            "681a0772046732f4",
            "169f89de073e1ac1",
            "cb987cf16d0b47c6",
            "0a93202c394c574f",
            "1820d8d5617d190a",
            "c2a6417c818f2651",
            "a608729afa297c01"
        ],
        "x": 1294,
        "y": 1239,
        "w": 1132,
        "h": 782
    },
    {
        "id": "ce134ba17f2a8db3",
        "type": "group",
        "z": "4581a265b1e53d13",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3931575ee090bc76",
            "dcdcd54da116ded1",
            "28570171bbd2f047",
            "cd2f912f54c7a06b",
            "5e5f1a11fa3bc479",
            "6e0efe62b2d63962",
            "19de2b9fc21ee9d1",
            "335a084e1889a879",
            "033fae54c8a43a76",
            "32ea5bf0d0e8e6b6",
            "f66bfd6221f0bbc7",
            "9a45f38d66def267",
            "ad75a0ac05c364a1",
            "7149302488382713",
            "31bb57493e0501b0",
            "5914d298c2d8a490",
            "79740bd00e9c7f3e",
            "11e5b8e35c4be1d3",
            "7e182e282494e3af",
            "dde6cfa828009a14",
            "5e1409e976930b21",
            "6062fc98d66d252d",
            "996ee91ad2d9ecdf",
            "fa3dbbf54b776761",
            "04a68ea04d36491b",
            "29d8d14c2849ad2a"
        ],
        "x": 74,
        "y": 39,
        "w": 1192,
        "h": 722
    },
    {
        "id": "7194060c3c2da35b",
        "type": "group",
        "z": "4581a265b1e53d13",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3b844d7c80831927",
            "cd53a6f5dfab8e4d",
            "2725aad23b2b0d2a",
            "03bf2190d4d23a39",
            "3b47f898800f825e",
            "8546e0373a895583",
            "cf33aec89756993b",
            "def14ca08e4771f1",
            "6259730a09e2c358",
            "7710ca18784f0b13",
            "26e1ac7a358d7b96",
            "2b6a91f29f4731c6",
            "2bea797f7ff3b492",
            "9b18434da6dff2a4",
            "1d10bb8e9129da4f",
            "d272cacba1a6ed9d",
            "192a227d1bd42bac",
            "494b266cb37fe2a0",
            "8946c0722d5db02c",
            "b2aace15f777eb1f",
            "f02737285adca810",
            "1ca40beafc5404ca",
            "1b6f4753cb16c793",
            "db7a4eb6ebe4cf6b",
            "8b90f125689c72a6",
            "aaa20043ac7a7447",
            "360bb35170575af2"
        ],
        "x": 1294,
        "y": 39,
        "w": 852,
        "h": 862
    },
    {
        "id": "6b1da5e2fb0aac7c",
        "type": "group",
        "z": "4581a265b1e53d13",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fbdc0a89c514e3fb",
            "14e2185fc2218f82",
            "db1d367b388ce81a",
            "4ac868c56035392f",
            "f851a020ad765129",
            "ce074a16faf482a3",
            "3e2b352eb2282ff1",
            "ed1a8839ad0c37a6",
            "840331a62e1eb8ff",
            "a0b0f82cc10ee6f9",
            "43f838d9da185254",
            "9cd4323f85725327",
            "6af4a52960f8bbd5",
            "e60a2d8c89c1b3e2",
            "e5392731eadc064a",
            "33dbdbe94a2d31df",
            "9275a9067b487325",
            "291e0d1aacab87d7",
            "b1a18f3bc1acdbca"
        ],
        "x": 2173.0001258850098,
        "y": 39,
        "w": 392.99987411499023,
        "h": 862
    },
    {
        "id": "c2b95045a6e2e0e7",
        "type": "group",
        "z": "4581a265b1e53d13",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b12456c2e6206546",
            "547935198de65ba3",
            "8741c850f48bdb1f",
            "b19d4241eb6be192",
            "d954fc95e4d1bb00",
            "963ba93ffdf3e424",
            "4756275aa5423fce",
            "ff239f66b960de94",
            "d1b4606a25d644d5",
            "5fb9ad663652e3fd",
            "a9e8a9e08ef93475",
            "b90bd859f9170dac",
            "dbbf87e24685ac93",
            "c76d32e09801e7cb",
            "cc1edea5fb3ab1fe",
            "c746ddb588725da8",
            "dbe93ff6fc360959",
            "94405d776cbc69d6",
            "a8912ad5a781b375",
            "66c3fbc5b080f852",
            "179a1c9f65ebeb84",
            "9df90d7881ab30db",
            "22ccbe7a57457116",
            "a7782be45a014826"
        ],
        "x": 2594,
        "y": 39,
        "w": 692,
        "h": 1062
    },
    {
        "id": "9aa0a8d92e40d502",
        "type": "group",
        "z": "4581a265b1e53d13",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fa8055bad522ebf3",
            "a62a4c4da16b5fd3",
            "43ef11447d01c908",
            "90474100d75e35af",
            "e77b39cb40a6abcb",
            "3b71ed0ba43e11a5",
            "3725fad661da6554",
            "de9b4811ca59532f",
            "d53e08b31561c6c6"
        ],
        "x": 1294,
        "y": 2079,
        "w": 912,
        "h": 362
    },
    {
        "id": "64b5901d4bfc31cc",
        "type": "group",
        "z": "4581a265b1e53d13",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cf2d1b1e31aafc48",
            "d0788f5aea8bbd34",
            "1f9fc9e7ddf35540"
        ],
        "x": 2174,
        "y": 919,
        "w": 392,
        "h": 122
    },
    {
        "id": "a9bf79a095d53ec6",
        "type": "group",
        "z": "4581a265b1e53d13",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "982b17aa30f729c5",
            "1e0e5e9c14b039c4",
            "2eab5b546c11241b",
            "d29fe7d7afb34b72"
        ],
        "x": 1294,
        "y": 919,
        "w": 852,
        "h": 122
    },
    {
        "id": "3931575ee090bc76",
        "type": "s7 in",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Emergency Stop (HW:= NC),,,,",
        "diff": true,
        "name": "",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "32ea5bf0d0e8e6b6"
            ]
        ]
    },
    {
        "id": "dcdcd54da116ded1",
        "type": "s7 in",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Green Tower Light,,,,",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "335a084e1889a879"
            ]
        ]
    },
    {
        "id": "28570171bbd2f047",
        "type": "s7 in",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Yellow Tower Light,,,,",
        "diff": true,
        "name": "",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "033fae54c8a43a76"
            ]
        ]
    },
    {
        "id": "cd2f912f54c7a06b",
        "type": "mqtt out",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "",
        "topic": "005_kit_Rid",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5e17b817fab3699f",
        "x": 1170,
        "y": 240,
        "wires": []
    },
    {
        "id": "5e5f1a11fa3bc479",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"E_Stop\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 200,
        "wires": [
            [
                "cd2f912f54c7a06b"
            ]
        ]
    },
    {
        "id": "6e0efe62b2d63962",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"TL_Green\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 440,
        "wires": [
            [
                "cd2f912f54c7a06b"
            ]
        ]
    },
    {
        "id": "19de2b9fc21ee9d1",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"TL_Yellow\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 380,
        "wires": [
            [
                "cd2f912f54c7a06b"
            ]
        ]
    },
    {
        "id": "335a084e1889a879",
        "type": "change",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 440,
        "wires": [
            [
                "6e0efe62b2d63962"
            ]
        ]
    },
    {
        "id": "033fae54c8a43a76",
        "type": "change",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 380,
        "wires": [
            [
                "19de2b9fc21ee9d1"
            ]
        ]
    },
    {
        "id": "32ea5bf0d0e8e6b6",
        "type": "change",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 200,
        "wires": [
            [
                "5e5f1a11fa3bc479"
            ]
        ]
    },
    {
        "id": "f66bfd6221f0bbc7",
        "type": "comment",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "Signals",
        "info": "",
        "x": 1090,
        "y": 80,
        "wires": []
    },
    {
        "id": "9a45f38d66def267",
        "type": "s7 in",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Position Sensor 1 (HW:= Photoelectric),,,,",
        "diff": true,
        "name": "",
        "x": 260,
        "y": 540,
        "wires": [
            [
                "ad75a0ac05c364a1"
            ]
        ]
    },
    {
        "id": "ad75a0ac05c364a1",
        "type": "change",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 540,
        "wires": [
            [
                "7149302488382713"
            ]
        ]
    },
    {
        "id": "7149302488382713",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"Sensor1\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 540,
        "wires": [
            [
                "cd2f912f54c7a06b"
            ]
        ]
    },
    {
        "id": "3b844d7c80831927",
        "type": "switch",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "",
        "property": "payload.signal",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "E_Stop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TL_Red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TL_Yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TL_Green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Reject",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 1550,
        "y": 340,
        "wires": [
            [
                "2725aad23b2b0d2a"
            ],
            [
                "d272cacba1a6ed9d"
            ],
            [
                "03bf2190d4d23a39"
            ],
            [
                "cd53a6f5dfab8e4d"
            ],
            [
                "2bea797f7ff3b492"
            ],
            [
                "8946c0722d5db02c"
            ],
            [
                "1ca40beafc5404ca"
            ],
            [
                "8b90f125689c72a6"
            ]
        ]
    },
    {
        "id": "cd53a6f5dfab8e4d",
        "type": "switch",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "TL_Green",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1780,
        "y": 420,
        "wires": [
            [
                "3b47f898800f825e"
            ],
            [
                "26e1ac7a358d7b96"
            ]
        ]
    },
    {
        "id": "2725aad23b2b0d2a",
        "type": "switch",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "E_Stop",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1780,
        "y": 160,
        "wires": [
            [
                "cf33aec89756993b"
            ],
            [
                "def14ca08e4771f1"
            ]
        ]
    },
    {
        "id": "03bf2190d4d23a39",
        "type": "switch",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "TL_Yellow",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1790,
        "y": 340,
        "wires": [
            [
                "8546e0373a895583"
            ],
            [
                "2b6a91f29f4731c6"
            ]
        ]
    },
    {
        "id": "3b47f898800f825e",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "green_TL = 1",
        "func": "var TL_Green = msg.payload.onoff;\nvar total_count=flow.get(\"total_count\");\nvar ok_part=flow.get(\"ok_part\");\n\nif(TL_Green==1){\n    TL_Green = 1;\n    flow.set(\"TL_Green\",1);\n    \n        ok_part++\n    flow.set(\"ok_part\",ok_part);\n    \n        total_count++;\n    flow.set(\"total_count\",total_count);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 400,
        "wires": [
            [
                "db1d367b388ce81a"
            ]
        ]
    },
    {
        "id": "8546e0373a895583",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "yellow_TL = 1",
        "func": "var TL_Yellow = msg.payload.onoff; \nvar total_count=flow.get(\"total_count\");\nvar ng_part=flow.get(\"ng_part\");\n\nif(TL_Yellow==1){\n    TL_Yellow = 1;\n    flow.set(\"TL_Yellow\",1);\n    \n        ng_part++\n    flow.set(\"ng_part\",ng_part);\n    \n        total_count++;\n    flow.set(\"total_count\",total_count);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 320,
        "wires": [
            [
                "f851a020ad765129"
            ]
        ]
    },
    {
        "id": "cf33aec89756993b",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "E-stop_on(ts)",
        "func": "flow.set(\"E-stop_onoff\",msg.payload.onoff); // add counter value\nflow.set(\"es_on\",msg.payload.timestamp); //save Em.Stop_On time\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 140,
        "wires": [
            [
                "14e2185fc2218f82"
            ]
        ]
    },
    {
        "id": "def14ca08e4771f1",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "E-stop_off(ts)",
        "func": "var es_off = msg.payload.timestamp;\nvar es_on = flow.get(\"es_on\");\nvar duration;\nvar total_downtime = flow.get(\"total_downtime\");\nvar runtime;\n\nif(total_downtime==undefined){\n    total_downtime=0;               //set initial value\n}\n\nduration= es_off - es_on;\ntotal_downtime = total_downtime+duration;\n\nflow.set(\"last_downtime\",duration)\nflow.set(\"total_downtime\",total_downtime)\nflow.set(\"E-stop_onoff\",msg.payload.onoff);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 180,
        "wires": [
            [
                "14e2185fc2218f82"
            ]
        ]
    },
    {
        "id": "6259730a09e2c358",
        "type": "mqtt in",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "",
        "topic": "005_kit_Rid",
        "qos": "0",
        "datatype": "json",
        "broker": "5e17b817fab3699f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1390,
        "y": 340,
        "wires": [
            [
                "3b844d7c80831927"
            ]
        ]
    },
    {
        "id": "7710ca18784f0b13",
        "type": "comment",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Signal Processing",
        "info": "",
        "x": 1410,
        "y": 80,
        "wires": []
    },
    {
        "id": "26e1ac7a358d7b96",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "green_TL = 0",
        "func": "var TL_Green = msg.payload.onoff;\n\nif(TL_Green==0){\n    TL_Green = 0;\n    flow.set(\"TL_Green\",0);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 440,
        "wires": [
            [
                "db1d367b388ce81a"
            ]
        ]
    },
    {
        "id": "2b6a91f29f4731c6",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "yellow_TL = 0",
        "func": "var TL_Yellow = msg.payload.onoff; \n\nif(TL_Yellow==0){\n    TL_Yellow = 0;\n    flow.set(\"TL_Yellow\",0);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 360,
        "wires": [
            [
                "f851a020ad765129"
            ]
        ]
    },
    {
        "id": "2bea797f7ff3b492",
        "type": "switch",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Sensor1",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1780,
        "y": 520,
        "wires": [
            [
                "9b18434da6dff2a4"
            ],
            [
                "1d10bb8e9129da4f"
            ]
        ]
    },
    {
        "id": "9b18434da6dff2a4",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Sensor1 = 1",
        "func": "var Sensor1 = msg.payload.onoff;\n    \nif(Sensor1==1){\n    \n    part_id++;\n    flow.set(\"part_id\",part_id);\n    \n    flow.set(\"Sensor1\",1);\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 500,
        "wires": [
            [
                "9cd4323f85725327"
            ]
        ]
    },
    {
        "id": "1d10bb8e9129da4f",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Sensor1 = 0",
        "func": "var Sensor1 = msg.payload.onoff;\n\nif(Sensor1==0){\n    \n    flow.set(\"Sensor1\",0);\n    \n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 540,
        "wires": [
            [
                "9cd4323f85725327"
            ]
        ]
    },
    {
        "id": "d272cacba1a6ed9d",
        "type": "switch",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "TL_Red",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1780,
        "y": 240,
        "wires": [
            [
                "192a227d1bd42bac"
            ],
            [
                "494b266cb37fe2a0"
            ]
        ]
    },
    {
        "id": "192a227d1bd42bac",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "red_TL = 1",
        "func": "var TL_Red = msg.payload.onoff; \n\nif(TL_Red==1){\n    TL_Red = 1;\n    flow.set(\"TL_Red\",1);\n    \nvar red_on_ts = msg.payload.timestamp;\n\n    red_on_ts= red_on_ts/1000;          // change milisecond to second\n    red_on_ts= red_on_ts.toFixed(2);    //change to 2 decimal (string)\n    red_on_ts= parseFloat(red_on_ts);   // change string to float\n    flow.set(\"red_on_ts\",red_on_ts);\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 220,
        "wires": [
            [
                "43f838d9da185254",
                "ed1a8839ad0c37a6"
            ]
        ]
    },
    {
        "id": "494b266cb37fe2a0",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "red_TL = 0",
        "func": "var TL_Red = msg.payload.onoff; \n\nif(TL_Red==0){\n    TL_Red = 0;\n    flow.set(\"TL_Red\",0);\n    \nvar red_off_ts = msg.payload.timestamp;\n\n    red_off_ts= red_off_ts/1000;          // change milisecond to second\n    red_off_ts= red_off_ts.toFixed(2);    //change to 2 decimal (string)\n    red_off_ts= parseFloat(red_off_ts);   // change string to float\n    flow.set(\"red_off_ts\",red_off_ts);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 260,
        "wires": [
            [
                "43f838d9da185254",
                "a0b0f82cc10ee6f9"
            ]
        ]
    },
    {
        "id": "fbdc0a89c514e3fb",
        "type": "ui_led",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "order": 1,
        "group": "94f55a2365d15fb5",
        "width": 8,
        "height": 2,
        "label": "Emergency Stop",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Emergency Stop",
        "x": 2450,
        "y": 160,
        "wires": []
    },
    {
        "id": "14e2185fc2218f82",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "name": "",
        "func": "msg.payload=flow.get('E-stop_onoff');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 160,
        "wires": [
            [
                "fbdc0a89c514e3fb"
            ]
        ]
    },
    {
        "id": "db1d367b388ce81a",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "name": "",
        "func": "msg.payload=flow.get('TL_Green');\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 420,
        "wires": [
            [
                "4ac868c56035392f"
            ]
        ]
    },
    {
        "id": "4ac868c56035392f",
        "type": "ui_led",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "order": 4,
        "group": "94f55a2365d15fb5",
        "width": 8,
        "height": 2,
        "label": "TL_Green",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "TL_Green",
        "x": 2440,
        "y": 420,
        "wires": []
    },
    {
        "id": "f851a020ad765129",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "name": "",
        "func": "msg.payload=flow.get('TL_Yellow');\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 340,
        "wires": [
            [
                "ce074a16faf482a3"
            ]
        ]
    },
    {
        "id": "ce074a16faf482a3",
        "type": "ui_led",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "order": 3,
        "group": "94f55a2365d15fb5",
        "width": 8,
        "height": 2,
        "label": "TL_Yellow",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "TL_Yellow",
        "x": 2460,
        "y": 340,
        "wires": []
    },
    {
        "id": "3e2b352eb2282ff1",
        "type": "comment",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "name": "Input Monitoring",
        "info": "",
        "x": 2280,
        "y": 80,
        "wires": []
    },
    {
        "id": "ed1a8839ad0c37a6",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "group": "94f55a2365d15fb5",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Red TL On",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "className": "",
        "x": 2449.0001258850098,
        "y": 203.99999809265137,
        "wires": []
    },
    {
        "id": "840331a62e1eb8ff",
        "type": "ui_led",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "order": 2,
        "group": "94f55a2365d15fb5",
        "width": 8,
        "height": 2,
        "label": "TL_Red",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "TL_Red",
        "x": 2439.0001258850098,
        "y": 243.99999809265137,
        "wires": []
    },
    {
        "id": "a0b0f82cc10ee6f9",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "group": "94f55a2365d15fb5",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Red TL Off",
        "format": "{{msg.payload.date}}",
        "layout": "row-spread",
        "className": "",
        "x": 2449.0001258850098,
        "y": 283.99999809265137,
        "wires": []
    },
    {
        "id": "43f838d9da185254",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "name": "",
        "func": "msg.payload=    flow.get('TL_Red');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2259.0001258850098,
        "y": 243.99999809265137,
        "wires": [
            [
                "840331a62e1eb8ff"
            ]
        ]
    },
    {
        "id": "9cd4323f85725327",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "name": "",
        "func": "msg.payload=flow.get('Sensor1');\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 520,
        "wires": [
            [
                "6af4a52960f8bbd5"
            ]
        ]
    },
    {
        "id": "6af4a52960f8bbd5",
        "type": "ui_led",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "order": 4,
        "group": "94f55a2365d15fb5",
        "width": 8,
        "height": 2,
        "label": "Sensor 1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#0000ff",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Sensor 1",
        "x": 2440,
        "y": 520,
        "wires": []
    },
    {
        "id": "31bb57493e0501b0",
        "type": "s7 in",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Red Tower Light,,,,",
        "diff": true,
        "name": "",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "79740bd00e9c7f3e"
            ]
        ]
    },
    {
        "id": "5914d298c2d8a490",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"TL_Red\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 320,
        "wires": [
            [
                "cd2f912f54c7a06b"
            ]
        ]
    },
    {
        "id": "79740bd00e9c7f3e",
        "type": "change",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 320,
        "wires": [
            [
                "5914d298c2d8a490"
            ]
        ]
    },
    {
        "id": "11e5b8e35c4be1d3",
        "type": "s7 in",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Position Sensor 2 (HW:= Photoelectric),,,,",
        "diff": true,
        "name": "",
        "x": 260,
        "y": 600,
        "wires": [
            [
                "7e182e282494e3af"
            ]
        ]
    },
    {
        "id": "7e182e282494e3af",
        "type": "change",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 600,
        "wires": [
            [
                "dde6cfa828009a14"
            ]
        ]
    },
    {
        "id": "dde6cfa828009a14",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"Sensor2\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 600,
        "wires": [
            [
                "cd2f912f54c7a06b"
            ]
        ]
    },
    {
        "id": "5e1409e976930b21",
        "type": "s7 in",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Part Reject Sensor (HW:= Inductive),,,,",
        "diff": true,
        "name": "",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "6062fc98d66d252d"
            ]
        ]
    },
    {
        "id": "6062fc98d66d252d",
        "type": "change",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 660,
        "wires": [
            [
                "996ee91ad2d9ecdf"
            ]
        ]
    },
    {
        "id": "996ee91ad2d9ecdf",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"Reject\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 660,
        "wires": [
            [
                "cd2f912f54c7a06b"
            ]
        ]
    },
    {
        "id": "8946c0722d5db02c",
        "type": "switch",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Sensor2",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1780,
        "y": 620,
        "wires": [
            [
                "b2aace15f777eb1f"
            ],
            [
                "f02737285adca810"
            ]
        ]
    },
    {
        "id": "b2aace15f777eb1f",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Sensor2 = 1",
        "func": "var Sensor2 = msg.payload.onoff;\n\n\n\n    \nif(Sensor2==1){\n    \n    flow.set(\"Sensor2\",1);\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 600,
        "wires": [
            [
                "e60a2d8c89c1b3e2"
            ]
        ]
    },
    {
        "id": "f02737285adca810",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Sensor2 = 0",
        "func": "var Sensor2 = msg.payload.onoff;\n\n\n\n    \nif(Sensor2==0){\n    \n    flow.set(\"Sensor2\",0);\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 640,
        "wires": [
            [
                "e60a2d8c89c1b3e2"
            ]
        ]
    },
    {
        "id": "e60a2d8c89c1b3e2",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "name": "",
        "func": "msg.payload=flow.get('Sensor2');\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 620,
        "wires": [
            [
                "e5392731eadc064a"
            ]
        ]
    },
    {
        "id": "e5392731eadc064a",
        "type": "ui_led",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "order": 4,
        "group": "94f55a2365d15fb5",
        "width": 8,
        "height": 2,
        "label": "Sensor 2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#0000ff",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Sensor 2",
        "x": 2440,
        "y": 620,
        "wires": []
    },
    {
        "id": "1ca40beafc5404ca",
        "type": "switch",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Reject",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1770,
        "y": 720,
        "wires": [
            [
                "1b6f4753cb16c793"
            ],
            [
                "db7a4eb6ebe4cf6b"
            ]
        ]
    },
    {
        "id": "1b6f4753cb16c793",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Reject= 1",
        "func": "var Reject = msg.payload.onoff;\n\n\n\n    \nif(Reject==1){\n    \n    flow.set(\"Reject\",1);\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2020,
        "y": 700,
        "wires": [
            [
                "33dbdbe94a2d31df"
            ]
        ]
    },
    {
        "id": "db7a4eb6ebe4cf6b",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Reject = 0",
        "func": "var Reject = msg.payload.onoff;\n\n\n\n    \nif(Reject==0){\n    \n    flow.set(\"Reject\",0);\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2020,
        "y": 740,
        "wires": [
            [
                "33dbdbe94a2d31df"
            ]
        ]
    },
    {
        "id": "33dbdbe94a2d31df",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "name": "",
        "func": "msg.payload=flow.get('Reject');\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 720,
        "wires": [
            [
                "9275a9067b487325"
            ]
        ]
    },
    {
        "id": "9275a9067b487325",
        "type": "ui_led",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "order": 4,
        "group": "94f55a2365d15fb5",
        "width": 8,
        "height": 2,
        "label": "Reject",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#0000ff",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Reject",
        "x": 2430,
        "y": 720,
        "wires": []
    },
    {
        "id": "8b90f125689c72a6",
        "type": "switch",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Sensor3",
        "property": "payload.onoff",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1780,
        "y": 840,
        "wires": [
            [
                "aaa20043ac7a7447"
            ],
            [
                "360bb35170575af2"
            ]
        ]
    },
    {
        "id": "aaa20043ac7a7447",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Sensor3 = 1",
        "func": "var Sensor3 = msg.payload.onoff;\n\n\n\n    \nif(Sensor3==1){\n    \n    flow.set(\"Sensor3\",1);\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 820,
        "wires": [
            [
                "291e0d1aacab87d7"
            ]
        ]
    },
    {
        "id": "360bb35170575af2",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "7194060c3c2da35b",
        "name": "Sensor3 = 0",
        "func": "var Sensor3 = msg.payload.onoff;\n\n\n\n    \nif(Sensor3==0){\n    \n    flow.set(\"Sensor3\",0);\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 860,
        "wires": [
            [
                "291e0d1aacab87d7"
            ]
        ]
    },
    {
        "id": "291e0d1aacab87d7",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "name": "",
        "func": "msg.payload=flow.get('Sensor3');\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 840,
        "wires": [
            [
                "b1a18f3bc1acdbca"
            ]
        ]
    },
    {
        "id": "b1a18f3bc1acdbca",
        "type": "ui_led",
        "z": "4581a265b1e53d13",
        "g": "6b1da5e2fb0aac7c",
        "order": 4,
        "group": "94f55a2365d15fb5",
        "width": 8,
        "height": 2,
        "label": "Sensor 3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#0000ff",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Sensor 3",
        "x": 2440,
        "y": 860,
        "wires": []
    },
    {
        "id": "cf2d1b1e31aafc48",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "64b5901d4bfc31cc",
        "name": "",
        "func": "flow.set('PPT',(msg.payload.PPT*60000) ) // convert minutes to millisecond\nflow.set('ICT',msg.payload.ICT*1000)    // convert second to millisecond\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2480,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "d0788f5aea8bbd34",
        "type": "ui_form",
        "z": "4581a265b1e53d13",
        "g": "64b5901d4bfc31cc",
        "name": "user_input",
        "label": "",
        "group": "3449302d7374b1f7",
        "order": 11,
        "width": 8,
        "height": 1,
        "options": [
            {
                "label": "Planned Production Time (Minutes)",
                "value": "PPT",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Ideal Cycle Time (second)",
                "value": "ICT",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "PPT": "",
            "ICT": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 2270,
        "y": 1000,
        "wires": [
            [
                "cf2d1b1e31aafc48"
            ]
        ]
    },
    {
        "id": "b12456c2e6206546",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "name": "1 sec",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2690,
        "y": 80,
        "wires": [
            [
                "547935198de65ba3",
                "d954fc95e4d1bb00",
                "4756275aa5423fce",
                "5fb9ad663652e3fd",
                "dbbf87e24685ac93"
            ]
        ]
    },
    {
        "id": "547935198de65ba3",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "name": "Availability",
        "func": "var PPT = flow.get('PPT')\nvar total_downtime =flow.get('total_downtime')\nvar runtime = PPT - total_downtime\n\nvar available_percent = (runtime/PPT)*100;\nvar available = (runtime/PPT)*100;\nflow.set('available',available)\n\nmsg.payload ={\n     available : available.toFixed(2),\n     available_percent : available_percent.toFixed(2)\n}\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2930,
        "y": 80,
        "wires": [
            [
                "8741c850f48bdb1f",
                "b19d4241eb6be192"
            ]
        ]
    },
    {
        "id": "8741c850f48bdb1f",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "0a53dacd048b7f6c",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Availability",
        "format": "{{msg.payload.available_percent}}",
        "layout": "row-spread",
        "className": "",
        "x": 3110,
        "y": 80,
        "wires": []
    },
    {
        "id": "b19d4241eb6be192",
        "type": "ui_gauge",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "name": "",
        "group": "0a53dacd048b7f6c",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Availability",
        "label": "%",
        "format": "{{msg.payload.available_percent}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dff00"
        ],
        "seg1": "",
        "seg2": "90",
        "className": "",
        "x": 3110,
        "y": 160,
        "wires": []
    },
    {
        "id": "d954fc95e4d1bb00",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "name": "Performance",
        "func": "var ICT = flow.get('ICT');\nvar TC = flow.get('total_count')\nvar RT = flow.get('PPT')-flow.get('total_downtime')\n\nvar performance = ((ICT*TC)/RT)*100\nflow.set('performance',performance)\n\nmsg.payload = performance.toFixed(2)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2930,
        "y": 240,
        "wires": [
            [
                "963ba93ffdf3e424",
                "a8912ad5a781b375"
            ]
        ]
    },
    {
        "id": "963ba93ffdf3e424",
        "type": "ui_gauge",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "name": "",
        "group": "0a53dacd048b7f6c",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Performance",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dff00"
        ],
        "seg1": "60",
        "seg2": "95",
        "className": "",
        "x": 3110,
        "y": 320,
        "wires": []
    },
    {
        "id": "4756275aa5423fce",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "name": "Quality",
        "func": "var GC = flow.get('ok_part')\nvar TC = flow.get('total_count')\nvar quality = (GC/TC)*100\n\nflow.set('quality',quality)\n\nmsg.payload = quality.toFixed(2)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2920,
        "y": 400,
        "wires": [
            [
                "ff239f66b960de94",
                "d1b4606a25d644d5"
            ]
        ]
    },
    {
        "id": "ff239f66b960de94",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "0a53dacd048b7f6c",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Quality",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3100,
        "y": 400,
        "wires": []
    },
    {
        "id": "d1b4606a25d644d5",
        "type": "ui_gauge",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "name": "",
        "group": "0a53dacd048b7f6c",
        "order": 7,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Quality",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dff00"
        ],
        "seg1": "60",
        "seg2": "99",
        "className": "",
        "x": 3100,
        "y": 480,
        "wires": []
    },
    {
        "id": "5fb9ad663652e3fd",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "name": "OEE",
        "func": "var a = flow.get('available')\nvar p = flow.get('performance')\nvar q = flow.get('quality')\nvar oee = a*p*q/10000;\n\nflow.set('oee',oee)\n\nmsg.payload = oee.toFixed(2)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2910,
        "y": 560,
        "wires": [
            [
                "a9e8a9e08ef93475",
                "b90bd859f9170dac"
            ]
        ]
    },
    {
        "id": "a9e8a9e08ef93475",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "0a53dacd048b7f6c",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "OEE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3090,
        "y": 560,
        "wires": []
    },
    {
        "id": "b90bd859f9170dac",
        "type": "ui_gauge",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "name": "",
        "group": "0a53dacd048b7f6c",
        "order": 8,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "OEE",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1dff00"
        ],
        "seg1": "60",
        "seg2": "85",
        "className": "",
        "x": 3090,
        "y": 640,
        "wires": []
    },
    {
        "id": "dbbf87e24685ac93",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "name": "Information",
        "func": "var p_id = 1000 + flow.get(\"total_count\")\nvar total_count = flow.get('total_count')\nvar total_ok = flow.get('ok_part')\nvar total_ng = flow.get('ng_part')\nvar ICT = flow.get('ICT')\nvar PPT = flow.get('PPT')\nvar last_downtime = flow.get('last_downtime')\nvar total_downtime = flow.get('total_downtime')\nvar runtime = flow.get('PPT') - flow.get('total_downtime')\nvar exp_total_count=PPT/ICT\n\nmsg.payload = {\n    p_id : p_id,\n    total_count:total_count,\n    total_ok:total_ok,\n    total_ng:total_ng,\n    PPT:PPT,\n    ICT:ICT,\n    last_downtime:last_downtime/1000,\n    total_downtime:total_downtime/1000,\n    exp_total_count:exp_total_count.toFixed(0),\n    runtime:runtime/1000\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2890,
        "y": 720,
        "wires": [
            [
                "cc1edea5fb3ab1fe",
                "c76d32e09801e7cb",
                "c746ddb588725da8",
                "dbe93ff6fc360959",
                "94405d776cbc69d6",
                "66c3fbc5b080f852",
                "9df90d7881ab30db",
                "179a1c9f65ebeb84",
                "22ccbe7a57457116",
                "a7782be45a014826"
            ]
        ]
    },
    {
        "id": "c76d32e09801e7cb",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "3449302d7374b1f7",
        "order": 4,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Total good",
        "format": "{{msg.payload.total_ok}}",
        "layout": "row-spread",
        "className": "",
        "x": 3110,
        "y": 820,
        "wires": []
    },
    {
        "id": "cc1edea5fb3ab1fe",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "3449302d7374b1f7",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Total Count",
        "format": "{{msg.payload.total_count}}",
        "layout": "row-spread",
        "className": "",
        "x": 3110,
        "y": 780,
        "wires": []
    },
    {
        "id": "c746ddb588725da8",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "3449302d7374b1f7",
        "order": 5,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Total reject",
        "format": "{{msg.payload.total_ng}}",
        "layout": "row-spread",
        "className": "",
        "x": 3110,
        "y": 860,
        "wires": []
    },
    {
        "id": "dbe93ff6fc360959",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "3449302d7374b1f7",
        "order": 9,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Planned Production Time ",
        "format": "{{msg.payload.PPT}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 3150,
        "y": 1020,
        "wires": []
    },
    {
        "id": "94405d776cbc69d6",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "3449302d7374b1f7",
        "order": 10,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Ideal Cycle Time",
        "format": "{{msg.payload.ICT}} ms",
        "layout": "row-spread",
        "className": "",
        "x": 3120,
        "y": 1060,
        "wires": []
    },
    {
        "id": "a8912ad5a781b375",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "0a53dacd048b7f6c",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Performance",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3110,
        "y": 240,
        "wires": []
    },
    {
        "id": "66c3fbc5b080f852",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "3449302d7374b1f7",
        "order": 8,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Runtime",
        "format": "{{msg.payload.runtime}} s",
        "layout": "row-spread",
        "className": "",
        "x": 3100,
        "y": 980,
        "wires": []
    },
    {
        "id": "179a1c9f65ebeb84",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "3449302d7374b1f7",
        "order": 7,
        "width": 8,
        "height": 1,
        "name": "Total Downtime",
        "label": "Total Downtime ",
        "format": "{{msg.payload.total_downtime}} s",
        "layout": "row-spread",
        "className": "",
        "x": 3120,
        "y": 940,
        "wires": []
    },
    {
        "id": "9df90d7881ab30db",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "3449302d7374b1f7",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "Product ID",
        "label": "Current Product ID",
        "format": "# {{msg.payload.p_id}} ",
        "layout": "row-spread",
        "className": "",
        "x": 3110,
        "y": 700,
        "wires": []
    },
    {
        "id": "22ccbe7a57457116",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "3449302d7374b1f7",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "Last Downtime",
        "label": "Last Downtime ",
        "format": "{{msg.payload.last_downtime}} s",
        "layout": "row-spread",
        "className": "",
        "x": 3120,
        "y": 900,
        "wires": []
    },
    {
        "id": "982b17aa30f729c5",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "a9bf79a095d53ec6",
        "name": "Reset Counter",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1410,
        "y": 1000,
        "wires": [
            [
                "1e0e5e9c14b039c4"
            ]
        ]
    },
    {
        "id": "1e0e5e9c14b039c4",
        "type": "ui_button",
        "z": "4581a265b1e53d13",
        "g": "a9bf79a095d53ec6",
        "name": "",
        "group": "3449302d7374b1f7",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Counter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1740,
        "y": 1000,
        "wires": [
            [
                "2eab5b546c11241b"
            ]
        ]
    },
    {
        "id": "2eab5b546c11241b",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "a9bf79a095d53ec6",
        "name": "",
        "func": "flow.set(\"part_id\",undefined);\nflow.set(\"ok_part\",msg.payload);\nflow.set(\"ng_part\",msg.payload);\nflow.set(\"cycle_time\",msg.payload);\nflow.set(\"total_cycle_time\",msg.payload);  \nflow.set('total_count',msg.payload);\nflow.set(\"motor1\",msg.payload);\nflow.set(\"TL_Yellow\",msg.payload);\nflow.set(\"TL_Green\",msg.payload);\nflow.set(\"TL_Red\",msg.payload);\nflow.set(\"dts\",msg.payload);\n\nflow.set('last_downtime',msg.payload);\nflow.set('total_downtime',msg.payload);\n\nflow.set('available',msg.payload);\nflow.set('performance',msg.payload);\nflow.set('quality',msg.payload);\nflow.set('oee',msg.payload);\n\nflow.set('PPT',msg.payload);\nflow.set('ICT',msg.payload);\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2060,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "88907e841ab027bc",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "11:30",
        "props": [],
        "repeat": "",
        "crontab": "30 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1540,
        "wires": [
            [
                "a131dacb9c1136cd",
                "6c4cc42b79fbcbfd"
            ]
        ]
    },
    {
        "id": "a131dacb9c1136cd",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "save oee_tl_timeswitch",
        "func": "var nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\n\n\nmsg.payload=[{measurement:\"oee_tl_timeswitch\",\n                fields:{\n                    available:flow.get('available').toFixed(2),\n                    performance:flow.get('performance').toFixed(2),\n                    quality:flow.get('quality').toFixed(2),\n                    oee:flow.get('oee').toFixed(2),\n                    dts:dts\n                    \n                    \n                },\n                tags:{\n                    \n                    \n                },\n                \n                \n    \n}\n    \n    ]\n    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 1740,
        "wires": [
            [
                "f34fecebdc84098b"
            ]
        ]
    },
    {
        "id": "372fd0dfaf455fae",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "1 min",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1840,
        "wires": [
            [
                "6353364753d07fe6"
            ]
        ]
    },
    {
        "id": "6c4cc42b79fbcbfd",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "OEE_TL",
        "func": "var nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\n\nmsg.payload=[{\n                    \n                    DateTime:dts,\n                    Availability:flow.get('available').toFixed(2),\n                    Performance:flow.get('performance').toFixed(2),\n                    Quality:flow.get('quality').toFixed(2),\n                    OEE:flow.get('oee').toFixed(2)\n                   \n                    \n                    \n               \n            \n                \n                \n    \n}]\n    \n    \n    \n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 1380,
        "wires": [
            [
                "1487be0d770ed3e6"
            ]
        ]
    },
    {
        "id": "1487be0d770ed3e6",
        "type": "csv",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "DateTime,Availability,Performance,Quality,OEE",
        "skip": "2",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1790,
        "y": 1380,
        "wires": [
            [
                "f1914750412418d6"
            ]
        ],
        "info": "dts,available,performance,quality,oee\n                    "
    },
    {
        "id": "3832054064c4ab47",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "Add Data Title to CSV",
        "props": [
            {
                "p": "reset",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1440,
        "y": 1340,
        "wires": [
            [
                "1487be0d770ed3e6"
            ]
        ]
    },
    {
        "id": "f1914750412418d6",
        "type": "file",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "",
        "filename": "C:\\Users\\suhaimi\\Documents\\RID\\OEE\\OEE_Data_Assesment.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2160,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "f34fecebdc84098b",
        "type": "influxdb batch",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "influxdb": "c0be221787a8fcdb",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1900,
        "y": 1740,
        "wires": []
    },
    {
        "id": "6353364753d07fe6",
        "type": "influxdb in",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "influxdb": "c0be221787a8fcdb",
        "name": "call oee_assesment",
        "query": "SELECT* FROM oee_tl_timeswitch\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 1700,
        "y": 1840,
        "wires": [
            [
                "abe6fc7fbdb01c09"
            ]
        ]
    },
    {
        "id": "abe6fc7fbdb01c09",
        "type": "ui_table",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "group": "def27009030954f3",
        "name": "",
        "order": 1,
        "width": "24",
        "height": "6",
        "columns": [
            {
                "field": "dts",
                "title": "DateTime",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "available",
                "title": "Availability",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "performance",
                "title": "Performance",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "quality",
                "title": "Quality",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "oee",
                "title": "OEE",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 1950,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "fa8055bad522ebf3",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "9aa0a8d92e40d502",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 2400,
        "wires": [
            [
                "a62a4c4da16b5fd3"
            ]
        ]
    },
    {
        "id": "a62a4c4da16b5fd3",
        "type": "influxdb in",
        "z": "4581a265b1e53d13",
        "g": "9aa0a8d92e40d502",
        "influxdb": "c0be221787a8fcdb",
        "name": "SELECT* FROM oee_assesment",
        "query": "SELECT* FROM oee_assesment\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 1780,
        "y": 2400,
        "wires": [
            [
                "43ef11447d01c908"
            ]
        ]
    },
    {
        "id": "43ef11447d01c908",
        "type": "debug",
        "z": "4581a265b1e53d13",
        "g": "9aa0a8d92e40d502",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 2400,
        "wires": []
    },
    {
        "id": "90474100d75e35af",
        "type": "influxdb batch",
        "z": "4581a265b1e53d13",
        "g": "9aa0a8d92e40d502",
        "influxdb": "c0be221787a8fcdb",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1900,
        "y": 2240,
        "wires": []
    },
    {
        "id": "e77b39cb40a6abcb",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "9aa0a8d92e40d502",
        "name": "OEE_assesment",
        "func": "var nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\n\nmsg.payload=[{measurement:\"oee_assesment\",\n                fields:{\n                    available:flow.get('available'),\n                    performance:flow.get('performance'),\n                    quality:flow.get('quality'),\n                    oee:flow.get('oee'),\n                    dts:dts\n                    \n                    \n                },\n                tags:{\n                    \n                    \n                },\n                \n                \n    \n}\n    \n    ]\n    \n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 2240,
        "wires": [
            [
                "90474100d75e35af"
            ]
        ]
    },
    {
        "id": "3b71ed0ba43e11a5",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "9aa0a8d92e40d502",
        "name": "1 min",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 2240,
        "wires": [
            [
                "e77b39cb40a6abcb"
            ]
        ]
    },
    {
        "id": "70f0297dc0e40747",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "11:25",
        "props": [],
        "repeat": "",
        "crontab": "25 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1500,
        "wires": [
            [
                "a131dacb9c1136cd",
                "6c4cc42b79fbcbfd"
            ]
        ]
    },
    {
        "id": "011a871bd9d46182",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "11:20",
        "props": [],
        "repeat": "",
        "crontab": "20 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1460,
        "wires": [
            [
                "a131dacb9c1136cd",
                "6c4cc42b79fbcbfd"
            ]
        ]
    },
    {
        "id": "5867ad31662a561a",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "11:10",
        "props": [],
        "repeat": "",
        "crontab": "10 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1380,
        "wires": [
            [
                "a131dacb9c1136cd",
                "6c4cc42b79fbcbfd"
            ]
        ]
    },
    {
        "id": "417e52b85b8da0f3",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "11:15",
        "props": [],
        "repeat": "",
        "crontab": "15 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1420,
        "wires": [
            [
                "a131dacb9c1136cd",
                "6c4cc42b79fbcbfd"
            ]
        ]
    },
    {
        "id": "681a0772046732f4",
        "type": "comment",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "save oee by time",
        "info": "",
        "x": 1400,
        "y": 1280,
        "wires": []
    },
    {
        "id": "3725fad661da6554",
        "type": "influxdb in",
        "z": "4581a265b1e53d13",
        "g": "9aa0a8d92e40d502",
        "influxdb": "c0be221787a8fcdb",
        "name": "DELETE FROM oee_assesment ",
        "query": "DELETE FROM oee_assesment ",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 1970,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "de9b4811ca59532f",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "9aa0a8d92e40d502",
        "name": "Delete",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 2320,
        "wires": [
            [
                "3725fad661da6554"
            ]
        ]
    },
    {
        "id": "169f89de073e1ac1",
        "type": "influxdb in",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "influxdb": "c0be221787a8fcdb",
        "name": "delete from oee_tl_timeswitch",
        "query": "DELETE FROM oee_tl_timeswitch",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 1950,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "cb987cf16d0b47c6",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "Delete",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1920,
        "wires": [
            [
                "169f89de073e1ac1"
            ]
        ]
    },
    {
        "id": "fd61b483ff50a2b5",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "name": "11:50",
        "props": [],
        "repeat": "",
        "crontab": "50 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1700,
        "wires": [
            [
                "6c4cc42b79fbcbfd",
                "a131dacb9c1136cd"
            ]
        ]
    },
    {
        "id": "59924562b33ef98d",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "name": "11:45",
        "props": [],
        "repeat": "",
        "crontab": "45 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1660,
        "wires": [
            [
                "6c4cc42b79fbcbfd",
                "a131dacb9c1136cd"
            ]
        ]
    },
    {
        "id": "47c252e48e6da963",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "name": "11:35",
        "props": [],
        "repeat": "",
        "crontab": "35 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1580,
        "wires": [
            [
                "6c4cc42b79fbcbfd",
                "a131dacb9c1136cd"
            ]
        ]
    },
    {
        "id": "0a93202c394c574f",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "11:40",
        "props": [],
        "repeat": "",
        "crontab": "40 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1620,
        "wires": [
            [
                "6c4cc42b79fbcbfd",
                "a131dacb9c1136cd"
            ]
        ]
    },
    {
        "id": "80dedd12fab91e76",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "name": "11:55",
        "props": [],
        "repeat": "",
        "crontab": "55 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1740,
        "wires": [
            [
                "6c4cc42b79fbcbfd",
                "a131dacb9c1136cd"
            ]
        ]
    },
    {
        "id": "1f9fc9e7ddf35540",
        "type": "comment",
        "z": "4581a265b1e53d13",
        "g": "64b5901d4bfc31cc",
        "name": "User Input",
        "info": "",
        "x": 2260,
        "y": 960,
        "wires": []
    },
    {
        "id": "d29fe7d7afb34b72",
        "type": "comment",
        "z": "4581a265b1e53d13",
        "g": "a9bf79a095d53ec6",
        "name": "Reset Counter",
        "info": "",
        "x": 1390,
        "y": 960,
        "wires": []
    },
    {
        "id": "d53e08b31561c6c6",
        "type": "comment",
        "z": "4581a265b1e53d13",
        "g": "9aa0a8d92e40d502",
        "name": "save oee by minutes",
        "info": "",
        "x": 1410,
        "y": 2120,
        "wires": []
    },
    {
        "id": "1820d8d5617d190a",
        "type": "inject",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 1980,
        "wires": [
            [
                "c2a6417c818f2651"
            ]
        ]
    },
    {
        "id": "c2a6417c818f2651",
        "type": "influxdb in",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "influxdb": "c0be221787a8fcdb",
        "name": "SELECT* FROM oee_assesment",
        "query": "SELECT* FROM oee_tl_timeswitch\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 1800,
        "y": 1980,
        "wires": [
            [
                "a608729afa297c01"
            ]
        ]
    },
    {
        "id": "a608729afa297c01",
        "type": "debug",
        "z": "4581a265b1e53d13",
        "g": "fb31fd8080a6bf5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2110,
        "y": 1980,
        "wires": []
    },
    {
        "id": "fa3dbbf54b776761",
        "type": "s7 in",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "endpoint": "a2e083367df66ec7",
        "mode": "single",
        "variable": " Position Sensor 3 (HW:= Photoelectric),,,,",
        "diff": true,
        "name": "",
        "x": 260,
        "y": 720,
        "wires": [
            [
                "04a68ea04d36491b"
            ]
        ]
    },
    {
        "id": "04a68ea04d36491b",
        "type": "change",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 720,
        "wires": [
            [
                "29d8d14c2849ad2a"
            ]
        ]
    },
    {
        "id": "29d8d14c2849ad2a",
        "type": "function",
        "z": "4581a265b1e53d13",
        "g": "ce134ba17f2a8db3",
        "name": "Base function",
        "func": "var di = msg.payload;\nvar machine = \"Machine 1\";\nvar nd = new Date();\nvar ts = nd.getTime();\nvar dts = nd.toLocaleString(\"sv-SE\"); // local time in swidish\nvar signal = \"Sensor3\";\n\nmsg.payload = {\n    onoff:di,\n    timestamp:ts,\n    date:dts,\n    MachineID:machine,\n    signal:signal\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 720,
        "wires": [
            [
                "cd2f912f54c7a06b"
            ]
        ]
    },
    {
        "id": "a7782be45a014826",
        "type": "ui_text",
        "z": "4581a265b1e53d13",
        "g": "c2b95045a6e2e0e7",
        "group": "3449302d7374b1f7",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "Expected Total Part",
        "label": "Expected Total Part",
        "format": "{{msg.payload.exp_total_count}} units",
        "layout": "row-spread",
        "className": "",
        "x": 3130,
        "y": 740,
        "wires": []
    },
    {
        "id": "a2e083367df66ec7",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.4.34",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "100",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "I0.2",
                "name": " Start (HW:= NO / PB Green),,,,"
            },
            {
                "addr": "I0.5",
                "name": " Position Sensor 1 (HW:= Photoelectric),,,,"
            },
            {
                "addr": "I0.6",
                "name": " Position Sensor 2 (HW:= Photoelectric),,,,"
            },
            {
                "addr": "I0.7",
                "name": " Position Sensor 3 (HW:= Photoelectric),,,,"
            },
            {
                "addr": "I1.0",
                "name": " Part Reject Sensor (HW:= Inductive),,,,"
            },
            {
                "addr": "I1.1",
                "name": " Emergency Stop (HW:= NC),,,,"
            },
            {
                "addr": "Q0.0",
                "name": " Red LED,,,,"
            },
            {
                "addr": "Q0.1",
                "name": " Yellow LED,,,,"
            },
            {
                "addr": "Q0.2",
                "name": " Green LED,,,,"
            },
            {
                "addr": "Q0.3",
                "name": " Output 1 ( Motor Operation),,,,"
            },
            {
                "addr": "Q0.5",
                "name": " Output 3 ( Motor Speed),,,,"
            },
            {
                "addr": "Q0.6",
                "name": " Green Tower Light,,,,"
            },
            {
                "addr": "Q0.7",
                "name": " Yellow Tower Light,,,,"
            },
            {
                "addr": "Q1.0",
                "name": " Red Tower Light,,,,"
            },
            {
                "addr": "M50.4",
                "name": "Memory start"
            },
            {
                "addr": "I0.3",
                "name": "Reset"
            },
            {
                "addr": "I0.1",
                "name": "Stop"
            }
        ]
    },
    {
        "id": "5e17b817fab3699f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "94f55a2365d15fb5",
        "type": "ui_group",
        "name": "INPUT MONITOR",
        "tab": "d4d032c7782f2a1b",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3449302d7374b1f7",
        "type": "ui_group",
        "name": "INFORMATION",
        "tab": "d4d032c7782f2a1b",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a53dacd048b7f6c",
        "type": "ui_group",
        "name": "OEE RESULT",
        "tab": "d4d032c7782f2a1b",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c0be221787a8fcdb",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "mldvrid",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "def27009030954f3",
        "type": "ui_group",
        "name": "DATA TABLE",
        "tab": "d4d032c7782f2a1b",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d4d032c7782f2a1b",
        "type": "ui_tab",
        "name": "OEE ASSESMENT",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]